<div class="row">
    <div class="col-12 mb-4 px-4 rounded gridCustom">

@(
    Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.MarcaVehiculoModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.IdMarcaVehiculo).Width(40);
            columns.Bound(c => c.MarcaVehiculo).Width(190);
                columns.Bound(c => c.estatusDesc).Title("Estatus en sistema").Width(90);
            columns.Command(c => c.Custom("Editar").Click("getId")).Width(80);
            //columns.Command(c => c.Custom("Eliminar").Click("eliminar")).Width(80);

        }).HtmlAttributes(new { style = "height:650px" })
        .Sortable()
        .Groupable()
        .Scrollable()
        .Pageable()
        .DataSource(dataSource => dataSource
            .Ajax()
        .Read(read => read.Action("GetMarca2", "MarcasVehiculos"))
            .PageSize(5).Model(model => model.Id(p => p.IdMarcaVehiculo))
        )
     .ToolBar(t => t.Search())
        .Search(s =>
        {
            s.Field(c => c.MarcaVehiculo);
        })

        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single)
        .Type(GridSelectionType.Row)
        )

    @*.Events(ev=>ev.Change("onChange"))*@
    )
    </div>
    </div>

<script>
    function getId(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var IdMarcaVehiculo = dataItem.IdMarcaVehiculo;
        console.log(IdMarcaVehiculo);

        $.ajax({
            url: '@Url.Action("EditarParcial", "MarcasVehiculos")', // URL de la acción del controlador
            type: 'POST', // Tipo de solicitud HTTP (POST o GET)
            data: { IdMarcaVehiculo: IdMarcaVehiculo }, // Datos que se enviarán al controlador
            success: function (result) {
                $('#ModalBodyUpdate').html(result);
                $('#editarMarca').modal('show');

            },
        })
    }

    function eliminar(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var IdMarcaVehiculo = dataItem.IdMarcaVehiculo;
        console.log(IdMarcaVehiculo);

        $.ajax({
            url: '@Url.Action("EliminarMarcaParcial", "MarcasVehiculos")', // URL de la acción del controlador
            type: 'POST', // Tipo de solicitud HTTP (POST o GET)
            data: { IdMarcaVehiculo: IdMarcaVehiculo }, // Datos que se enviarán al controlador
            success: function (result) {
                $('#ModalBodyEliminarMarca').html(result);
                $('#eliminarMarca').modal('show');

            },
        })
    }
</script>
   
        