      @model GuanajuatoAdminUsuarios.Models.VehiculoPropietarioBusquedaModel
      <div class="row px-4 mb-4 align-items-end">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="controlForm my-3">

                        <label>Entidad:</label>
                        <span>
                            @(Html.Kendo().DropDownListFor(d => d.IdEntidadBusqueda).Filter(FilterType.Contains)
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .OptionLabel("Seleccione Entidad...")
                                .HtmlAttributes(new { style = "width:100%;" })
                                .Filter(FilterType.Contains)
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("Entidades_Read", "Vehiculos");
                                    });
                                }))
                        </span>

                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.PlacaBusqueda)
                            .Label(l => l.Content("Placas:"))
                            .Placeholder("Ingresa Placas")
                            .HtmlAttributes(new { style = "width: 100%" })
                            )
                    </div>
                   <div id="ErrorMessageContainer" class="error-container"></div>

                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="controlForm my-3">
                        @(Html.Kendo().TextBoxFor(t => t.SerieBusqueda)
                            .Label(l => l.Content("Serie:"))
                            .Placeholder("Ingresa serie")
                            .HtmlAttributes(new { style = "width: 100%" })
                            )

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-xl-auto">
				   <div class="col-auto btnOutline btnOutlinePrimary my-3">
                     @(Html.Kendo().Button()
                    .Name("btnBuscarVehiculo")
                    .HtmlAttributes(new { type = "button" })
                    .Content(" <h6 class='m-0 d-flex align-items-center'><i class='icon-addCar h5 mb-0 me-2'></i><b>Buscar vehículo</b></h6>")
                    .Events(e => e.Click("validateForm")))

								
				</div>
              </div>
        </div>