<div class="row">
    <div class="col-12 mb-4 px-4 rounded gridCustom">

        @(
            Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.CatAutoridadesEntregaModel>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.IdAutoridadEntrega).Width(80);
                columns.Bound(c => c.AutoridadEntrega).Width(100);
                columns.Bound(c => c.estatusDesc).Title("Estatus en sistema").Width(100);
                columns.Command(c => c.Custom("Editar").Click("getId")).Width(100);
               // columns.Command(c => c.Custom("Eliminar").Click("eliminar")).Width(100);


            }).HtmlAttributes(new { style = "height:550px" })
            .Sortable()
            .Groupable()
            .Scrollable()
            .Pageable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetAutEntrega", "CatAutoridadesEntrega"))
            .PageSize(5).Model(model => model.Id(p => p.IdAutoridadEntrega))
            )
            .ToolBar(t => t.Search())
            .Search(s =>
            {
                s.Field(c => c.AutoridadEntrega);
     
            })

            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single)
            .Type(GridSelectionType.Row)
            )

            )
    </div>
</div>

<script>
    function getId(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var IdAutoridadEntrega = dataItem.IdAutoridadEntrega;
        console.log(IdAutoridadEntrega);

        $.ajax({
            url: '@Url.Action("EditarAutoridadEntregaModal", "CatAutoridadesEntrega")', // URL de la acción del controlador
            type: 'POST', // Tipo de solicitud HTTP (POST o GET)
            data: { IdAutoridadEntrega: IdAutoridadEntrega }, // Datos que se enviarán al controlador
            success: function (result) {
                $('#ModalBodyEditarAutEntrega').html(result);
                $('#editarAutEntrega').modal('show');

            },
        })
    }

    function eliminar(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var IdAutoridadEntrega = dataItem.IdAutoridadEntrega;
        console.log(IdAutoridadEntrega);

        $.ajax({
            url: '@Url.Action("EliminarAutoridadEntregaModal", "CatAutoridadesEntrega")', // URL de la acción del controlador
            type: 'POST', // Tipo de solicitud HTTP (POST o GET)
            data: { IdAutoridadEntrega: IdAutoridadEntrega }, // Datos que se enviarán al controlador
            success: function (result) {
                $('#ModalBodyEliminarAutEntrega').html(result);
                $('#eliminarAutEntrega').modal('show');

            },
        })
    }
</script>