@model GuanajuatoAdminUsuarios.Models.CancelarInfraccionModel

<div class="mainContainer bg-light">
    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <i class="icon-edit-car h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Cancelación de Infracción</b></h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="col-12 col-md-auto mt-4 mb-2">
            <h5 class="px-4"><b>Cancelación de Infracción</b></h5>
            <h6 class="px-4 text-muted">Realiza una búsqueda y cancelación de infracciones.</h6>
        </div>
        <form id="BusquedaCancelacionInfraccion" class="row px-4 mb-4 align-items-end">
<!-- prueba -- >
            <div class="col-12 col-md-6 col-lg-4">
                <div class="controlForm mb-3">
                    <span>
                        @(Html.Kendo().TextBoxFor(t => t.FolioInfraccion)
                            .Label(l => l.Content("Folio de Infracción:"))
                            .Placeholder("Ingresa el folio de la infracción")
                            .HtmlAttributes(new { style = "width: 100%" })
                            )
                    </span>
                </div>
            </div>
        </form>
<!-- otro comentario uno  mio etc-->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="controlButton my-3">
                <button class="btnPrimary" type="button" onclick="buscarInfraccion()">  <h5 class="m-0"><b>Buscar</b></h5></button>

                @* @(Html.Kendo().Button()
                .Name("BuscarVehiculo")
                .HtmlAttributes(new { @class = "btnPrimary" })
                .Content("<h5 class=\"m-0\"><b>Buscar</b></h5>"))*@
            </div>
        </div>

       

        @*//Aqui*@


        <div id="listadoCancelacionInfracciones">
            <partial name="_ListadoCancelarInfraccion" model="Model" />
        </div>

        <div id="detalle" style="display:none;">
            <partial name="_DetalleInfraccion" model="Model" />
        </div>
    </section>
</div>

<script>
    function buscarInfraccion() {

        var Data = $("#BusquedaCancelacionInfraccion").serialize(); 

        $.ajax({
            url: '@Url.Action("ObtenerInfracciones")',
            type: 'POST',
            data: Data,
            success: function (result) { 

                $('#listadoCancelacionInfracciones').html(result);
            },
        })
    }




</script>
