<div class="row">
        <div class="col-12 mb-4 px-4 rounded gridCustom">

        @(
            Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.SubmarcasVehiculosModel>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.IdSubmarca).Width(20);
                columns.Bound(c => c.NombreSubmarca).Width(100);
                columns.Bound(c => c.MarcaVehiculo).Width(90);
                columns.Bound(c => c.estatusDesc).Width(90);
                columns.Command(c => c.Custom("Editar").Click("getId")).Width(100);
               // columns.Command(c => c.Custom("Eliminar").Click("eliminar")).Width(80);


            }).HtmlAttributes(new { style = "height:550px" })
            .Sortable()
            .Groupable()
            .Scrollable()
            .Pageable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetSubs", "SubmarcasVehiculos"))
            .PageSize(5).Model(model => model.Id(p => p.IdSubmarca))
            )
            .ToolBar(t => t.Search())
            .Search(s =>
            {
                s.Field(c => c.NombreSubmarca);
                s.Field(c => c.MarcaVehiculo);

            })

            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single)
            .Type(GridSelectionType.Row)
            )



            )


    </div>
</div>

<script>
    function getId(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var IdSubmarca = dataItem.IdSubmarca;
        console.log(IdSubmarca);

        $.ajax({
            url: '@Url.Action("EditarSubmarcaParcial", "SubmarcasVehiculos")', // URL de la acción del controlador
            type: 'POST', // Tipo de solicitud HTTP (POST o GET)
            data: { IdSubmarca: IdSubmarca }, // Datos que se enviarán al controlador
            success: function (result) {
                $('#editarSubmarcaBody').html(result);
                $('#editarSubMarca').modal('show');

            },
        })
    }

    function eliminar(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var IdSubmarca = dataItem.IdSubmarca;
        console.log(IdSubmarca);

        $.ajax({
            url: '@Url.Action("EliminarSubmarcaParcial", "SubmarcasVehiculos")', // URL de la acción del controlador
            type: 'POST', // Tipo de solicitud HTTP (POST o GET)
            data: { IdSubmarca: IdSubmarca }, // Datos que se enviarán al controlador
            success: function (result) {
                $('#eliminarSubmarcaBody').html(result);
                $('#eliminarSubMarca').modal('show');

            },
        })
    }
</script>