@using GuanajuatoAdminUsuarios.Entity;
@model List<InfoInfraccion>

<script>
    function FormatDate(date) {
        var cdate = convertDate(date);
        cdate = cdate == "01/01/0001" ? "" : cdate;
        return cdate;
    }
</script>

<div class="row my-4 px-4">
    <div class="col-md-12">
        @(
            Html.Kendo().Grid(Model)
            .Name("gridInfraccionesInfo")
            .Columns(columns =>
            {
                columns.Bound(c => c.Folio).Title("Folio").Width(150);
                columns.Bound(c => c.FolioTxt).Title("Folio-Txt").Width(150);
                columns.Bound(c => c.TTOTTE).Title("TTO/TTE").Width(150);
                columns.Bound(c => c.Estatus).Title("Estatus").Width(150);
                columns.Bound(c => c.TipoCortesia).Title("Tipo Cortesía").Width(150);
                columns.Bound(c => c.Delegacion).Title("Delegación").Width(150);
                columns.Bound(c => c.Municipio).Title("Municipio").Width(150);
                columns.Bound(c => c.FechaInfraccion).Title("Fecha de Infracción").Width(150).Format("{0:dd/MM/yyyy}");
                columns.Bound(c => c.HoraInfraccion).Title("Hora de Infracción").Width(150).Format("{0:HH:mm}"); ;
                columns.Bound(c => c.FechaVencimiento).Title("Fecha Vencimiento").Width(150).Format("{0:dd/MM/yyyy}");
                columns.Bound(c => c.Carretera).Title("Carretera").Width(150);
                columns.Bound(c => c.Tramo).Title("Tramo").Width(150);
                columns.Bound(c => c.Kilometraje).Title("Kilómetro").Width(150);
                columns.Bound(c => c.NombreConductor).Title("Nombre Conductor").Width(150);
                columns.Bound(c => c.CURPConductor).Title("CURP Conductor").Width(150);
                columns.Bound(c => c.FechadeNacimiento).Title("Fecha de Nacimiento").Width(150).Format("{0:dd/MM/yyyy}");
                columns.Bound(c => c.DomicilioConductor).Title("Domicilio Conductor").Width(150);
                columns.Bound(c => c.LicenciaConductor).Title("Licencia Conductor").Width(150);
                columns.Bound(c => c.TipoPersFisica).Title("Prop. Pers. Fisica").Width(150);
                columns.Bound(c => c.TipoPersMoral).Title("Prop. Pers Moral").Width(150);
                columns.Bound(c => c.Propietario).Title("Propietario").Width(150);
                columns.Bound(c => c.OficialInfraccion).Title("Oficial Infracción").Width(150);
                columns.Bound(c => c.CalifSalarios).Title("Calif. Salarios").Width(150);
                columns.Bound(c => c.MontoCalif).Title("Monto Calif.").Width(150);
                columns.Bound(c => c.MontoPago).Title("Monto Pago").Width(150);
                columns.Bound(c => c.ReciboPago).Title("Recibo Pago").Width(150);
                columns.Bound(c => c.FechaPago).Title("Fecha Pago").Width(150).Format("{0:dd/MM/yyyy}");
                columns.Bound(c => c.Placas).Title("Placas").Width(150);
                columns.Bound(c => c.SerieVeh).Title("Serie Veh.").Width(150);
                columns.Bound(c => c.TarjetadeCirculacion).Title("Tarjeta de Circulación").Width(150);
                columns.Bound(c => c.Marca).Title("Marca").Width(150);
                columns.Bound(c => c.Submarca).Title("Submarca").Width(150);
                columns.Bound(c => c.Modelo).Title("Modelo").Width(150);
                columns.Bound(c => c.Color).Title("Color").Width(150);
                columns.Bound(c => c.EntidaddeReg).Title("Entidad de Reg.").Width(150);
                columns.Bound(c => c.TipodeVehículo).Title("Tipo de Vehículo").Width(150);
                columns.Bound(c => c.TipodeServicio).Title("Tipo de Servicio").Width(150);
                columns.Bound(c => c.SubtipodeServicio).Title("Subtipo de Servicio").Width(150);
                columns.Bound(c => c.TipoGarantia).Title("Tipo Garantía").Width(150);
                columns.Bound(c => c.TipoAplicacion).Title("Tipo Aplicación").Width(150);
                columns.Bound(c => c.Motivo).Title("Motivos").Width(150);
                columns.Bound(c => c.MotivoDesc).Title("Motivos (descripcion texto abierto)").Width(150);

            }).HtmlAttributes(new { style = "height:auto" })
            .DataSource(dataSource => dataSource
            .Ajax()
            )
            .Pageable(pager => pager.AlwaysVisible(true).Position(GridPagerPosition.Bottom).PageSizes(true))
            .Sortable()
            .Scrollable(scr => scr.Enabled(true))
            .Scrollable(scr => scr.Height(500))
            .DataSource(dataSource => dataSource
            .Ajax()
            .ServerOperation(false)
            .PageSize(10)
            )
        )
    </div>
</div>
