
@*<div class="row justify-content-between my-4 mb-1 titleCustom">
    <div class="offset-1 col-12 mt-4 mb-2">
        <h5 class="px-4"><b>Listado de personas</b></h5>
    </div>
</div>*@
<div class="col-12 mb-4 px-4 rounded gridCustom">
    @(
        Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.PersonaModel>()
        .Name("gridPersonas")
        .Columns(columns =>
        {
            columns.Bound(c => c.idPersona).Hidden();
            columns.Bound(c => c.nombreCompleto).Title("Nombre");
            columns.Bound(p => p.CURP).Title("CURP");
            columns.Bound(p => p.RFC).Title("RFC");
            columns.Bound(p => p.numeroLicencia).Title("No. Licencia");
           columns.Bound(p => p.tipoLicencia).Title("Tipo de Licencia");
            columns.Bound(c => c.tipoPersona).Title("Tipo persona");
            columns.Bound(p => p.idPersona).ClientTemplate(
            "<button onclick=\"btnModalEditarPersona('#= idPersona #')\" class='w-100 btn'><h6 class='m-0 colorPrimary'><i class='icon-edit me-2'></i><b>Editar</b></h6></button>"
            ).Title("Acciones").Sortable(false).Width(100);
        })
        .Pageable(pager => pager.AlwaysVisible(true).Position(GridPagerPosition.Bottom).PageSizes(true))
        .Sortable()
        .Scrollable(scr => scr.Enabled(true))
        .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(false)
        .PageSize(10)
        )
        .ToolBar(t => t.Custom().Text("Buscar...").Name("search"))
        )
</div>