<div class="row">
    <div class="col-12 mb-4 px-4 rounded gridCustom">
        @(
            Html.Kendo().Grid<GuanajuatoAdminUsuarios.Entity.Dependencias>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.IdDependencia).Width(20);
                columns.Bound(c => c.NombreDependencia).Width(100);
                columns.Bound(c => c.Estatus).Width(100);
                columns.Command(c => c.Custom("Editar").Click("getId")).Width(100);
                //columns.Command(c => c.Custom("Delete").Click("redirectDelete")).Width(180);


            }).HtmlAttributes(new { style = "height:550px" })
            .Sortable()
            .Groupable()
            .Scrollable()
            .Pageable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetDeps", "Dependencias"))
            .PageSize(5).Model(model => model.Id(p => p.IdDependencia))
            )
            .ToolBar(t => t.Search())
            .Search(s =>
            {
                s.Field(c => c.NombreDependencia);
            })

            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single)
            .Type(GridSelectionType.Row)
            )



            )


    </div>
</div>

<script>
    function getId(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        console.log(dataItem);

        var IdDependencia = dataItem.IdDependencia;
        console.log(IdDependencia);

        $.ajax({
            url: '@Url.Action("EditarParcial", "Dependencias")', // URL de la acción del controlador
            type: 'POST', // Tipo de solicitud HTTP (POST o GET)
            data: { IdDependencia: IdDependencia }, // Datos que se enviarán al controlador
            success: function (result) {
                $('#ModalBodyUpdateDep').html(result);
                $('#editDependencia').modal('show');

            },
        })
    }
</script>