<div class="row">
    <div class="col-12 mb-4 px-4 rounded gridCustom">

        @(
            Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.CatCarreterasModel>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.Carretera).Width(80);
                columns.Bound(c => c.nombreOficina).Title("Nombre oficina").Width(100);
                columns.Bound(c => c.estatusDesc).Title("Estatus en sistema").Width(100);
                columns.Command(c => c.Custom("Editar").Click("editarCarretera")).Width(100);
                // columns.Command(c => c.Custom("Eliminar").Click("eliminar")).Width(100);


            }).HtmlAttributes(new { style = "height:550px" })
            .Sortable()
            .Groupable()
            .Scrollable()
            .Pageable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetCarr", "CatCarreteras"))
            .PageSize(5).Model(model => model.Id(p => p.IdCarretera))
            )
            .ToolBar(t => t.Search())
            .Search(s =>
            {
                s.Field(c => c.Carretera);
                s.Field(c => c.nombreOficina);


            })

            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single)
            .Type(GridSelectionType.Row)
            )

            )

        @(Html.Kendo().Tooltip()
            .For("#grid")
            .Filter("th")
            .Position(TooltipPosition.Top)
            .ContentHandler("tooltipContent")
            )
    </div>
</div>

<script>
    function editarCarretera(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var IdCarretera = dataItem.IdCarretera;
        console.log(IdCarretera);

        $.ajax({
            url: '@Url.Action("EditarCarreteraModal", "CatCarreteras")', // URL de la acción del controlador
            type: 'POST', // Tipo de solicitud HTTP (POST o GET)
            data: { IdCarretera: IdCarretera }, // Datos que se enviarán al controlador
            success: function (result) {
                $('#ModalBodEditarCarretera').html(result);
                $('#editarCarretera').modal('show');

            },
        })
    }
    function tooltipContent(e) {
        var titulo = e.target.context.dataset.title;
        return titulo;
    }
</script>