@model GuanajuatoAdminUsuarios.Models.SalariosMinimosModel

@{
    Layout = null;
}

<section class=" bg-white rounded">
    <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
        <div class="col-auto pe-0">
            <div class="row align-items-center justify-content-center justify-content-md-start">
                <div class="col-auto pe-0">
                    <i class="icon-addUdi h1 colorPrimary"></i>
                </div>
                <div class="col-auto my-3">
                    <h2 class="m-0 h3"><b>Eliminar salario mínimo</b></h2>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="row">
                <div class="col-auto my-3">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="bg-light py-1"></div>
        </div>

    </div>
    <div class="row">
        <div class="col-12 col-lg-6 my-4">
            <h5 class="px-4"><b>Datos de salarios mínimos</b></h5>
            <h6 class="px-4 text-muted">Verifica los datos del salario que ddeseas eliminar.</h6>
        </div>
    </div>
    <form id="EliminarSalarioForm" novalidate class="needs-validation">
        <div class="col-12 col-md-6">
            <div class="controlForm my-3">
                @Html.HiddenFor(m=>m.IdSalario)
                @(Html.Kendo().TextBoxFor(t => t.Area)
                    .Label(l => l.Content("Área <b>(obligatorio)</b>:"))
                    .Placeholder("Ingresa el nombre del área salarial")
                    .HtmlAttributes(new { style = "width: 100%" })
                    )

            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="controlForm my-3">
                @(Html.Kendo().TextBoxFor(t => t.Salario)
                    .Label(l => l.Content("Salarios <b>(obligatorio)</b>:"))
                    .Placeholder("Número de Udis")
                    .HtmlAttributes(new { style = "width: 100%", type = "number" })

                    )

            </div>
        </div>
    </form>
    <div class="row my-4">
        <div class="col-12 col-md-6 mx-md-auto">
            <div class="row justify-content-around">
                <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                    <button type="button" data-bs-dismiss="modal" aria-label="Close">
                        <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                    </button>
                </div>
                <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                    <div class="controlButton">
                        <button class="btn btn-success" onclick="eliminarSalario()">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>



<script>
    function eliminarSalario() {

        var Mydata = $("#EliminarSalarioForm").serialize();
        console.log(Mydata);
        $('#eliminarUdiSalario').modal('hide');
        $('body').removeClass('model-open');
        $('.modal-backdrop').remove();
        $.ajax({
            url: '@Url.Action("EliminarSalarioModal")',
            type: 'POST',
            data: Mydata,
            success: function (result) {
                $("#tablaSalarios").html(result);
            }
        });
    }

</script>


