<div class="row">
    <div class="col-12 mb-4 px-4 rounded gridCustom">
        @(
            Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.CatAutoridadesDisposicionModel>()
            .Name("gridAutoridadesDisp")
            .Columns(columns =>
            {
                columns.Bound(c => c.IdAutoridadDisposicion).Width(20).Title("Id");
                columns.Bound(c => c.NombreAutoridadDisposicion).Title("Autoridad Disposición").Width(100);
                columns.Bound(c => c.estatusDesc).Title("Estatus en sistema").Width(100);
                columns.Command(c => c.Custom("Editar").Click("getId")).Width(100);
               // columns.Command(c => c.Custom("Eliminar").Click("eliminar")).Width(80);

            }).HtmlAttributes(new { style = "height:550px" })
            .Sortable()
            .Groupable()
            .Scrollable()
            .Pageable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetAutDisp", "CatAutoridadesDisposicion"))
            .PageSize(5)
            )
            .ToolBar(t => t.Search().Text("Buscar..."))
            .Search(s =>
            {
                s.Field(c => c.NombreAutoridadDisposicion);
            })

            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single)
            .Type(GridSelectionType.Row)
            )



            )


    </div>
</div>


<script>
    function getId(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var IdAutoridadDisposicion = dataItem.IdAutoridadDisposicion;
        console.log(IdAutoridadDisposicion);
        showLoading();
        $.ajax({
            url: '@Url.Action("EditarAutoridadDisposicionParcial", "CatAutoridadesDisposicion")', // URL de la acción del controlador
            type: 'POST', // Tipo de solicitud HTTP (POST o GET)
            data: { IdAutoridadDisposicion: IdAutoridadDisposicion }, // Datos que se enviarán al controlador
            success: function (result) {
                $('#ModalBodyCrearAutoridadDisp').html(result);
                $('#agregarAutoridadDisp').modal('show');
                hideLoading();
            }, error: function () {
                sitteg_warning("Ocurrio un error al procesar su solicitud.");
                hideLoading();
            }
        })
    }

    function eliminar(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var IdAutoridadDisposicion = dataItem.IdAutoridadDisposicion;
        console.log(IdAutoridadDisposicion);
        showLoading();
        $.ajax({
            url: '@Url.Action("EliminarAutoridadDisposicionParcial", "CatAutoridadesDisposicion")', // URL de la acción del controlador
            type: 'POST', // Tipo de solicitud HTTP (POST o GET)
            data: { IdAutoridadDisposicion: IdAutoridadDisposicion }, // Datos que se enviarán al controlador
            success: function (result) {
                $('#ModalBodyCrearAutoridadDisp').html(result);
                $('#agregarAutoridadDisp').modal('show');
                hideLoading();
            }, error: function () {
                sitteg_warning("Ocurrio un error al procesar su solicitud.");
                hideLoading();
            }
        })
    }
</script>