@model List<GuanajuatoAdminUsuarios.Models.OficialesModel>
@*RazorCoder*@

    <div class="mainContainer bg-light">

        <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
            <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                    <div class="row align-items-center justify-content-center justify-content-md-start">
                        <div class="col-auto">
                            <i class="icon-dependencia h1 colorPrimary"></i>
                        </div>
                        <div class="col-auto my-3">
                            <h2 class="m-0 h3"><b>Catalogo de oficiales</b></h2>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                    <div class="row">
                        <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                            <button href="#" id="btnNuevaDep" onclick="mostrarModal()"> <i class="icon-addMarca h5 mb-0 me-2"></i><b>Agregar nueva oficial</b></button>

                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-12">
                    <div class="bg-light py-1"></div>
                </div>
            </div>
            <div class="row justify-content-between mb-1 titleCustom">
                <div class="col-12 col-md-auto mt-4 mb-2">
                    <h5 class="px-4"><b>Edita o elimina los registros de oficales.</b></h5>
                </div>
            </div>
        <div class="row">
            <div id="tablaOficiales">
                <partial name="_ListaOficiales" model="Model" />
<!--/////////////////////////////////////////////////////////////////////********AGREGAR*********////////////////////////////////////////////////////////////////////-->

      <div class="modal fade modalCustom" id="agregarOficial" tabindex="-1" aria-labelledby="agregarOficialLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                        <div class="modal-body" id="ModalBodyCrearOficial">
                </div>           
            </div>
        </div>
    </div>
<!--/////////////////////////////////////////////////////////////////////********EDITAR*********////////////////////////////////////////////////////////////////////-->

            <div class="modal fade modalCustom" id="editarOficial" tabindex="-1" aria-labelledby="editarOficialLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body" id="ModalBodyEditarOficial">
                        </div>
                    </div>
                </div>
            </div>

<!--/////////////////////////////////////////////////////////////////////********ELIMINAR*********////////////////////////////////////////////////////////////////////-->

            <div class="modal fade modalCustom" id="eliminarOficial" tabindex="-1" aria-labelledby="eliminarOficialLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body" id="ModalBodyEliminarOficial">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</section>

</div>
<script>
    function mostrarModal() {
        $.ajax({
            url: '@Url.Action("AgregarOficialParcial")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $('#ModalBodyCrearOficial').html(data);
                $('#agregarOficial').modal('show');
            }
        });
    }


</script>
