<div class="row">
    <div class="col-12 mb-4 rounded gridCustom">

    @(
        Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.CapturaAccidentesModel>()
        .Name("gridAciidentesIncompletos")
            .Columns(columns =>
             {
            columns.Bound(c => c.NumeroReporte).Title("Número de Reporte").Width(100);
                 columns.Bound(c => c.Fecha).Format("{0:dd/MM/yyyy}").Width(90);
                 columns.Bound(c => c.Hora).Width(90);
                 columns.Bound(c => c.Municipio).Width(120);
                 columns.Bound(c => c.Carretera).Width(100);
                 columns.Bound(c => c.Tramo).Title("Tramo").Width(100);
                 columns.Bound(c => c.EstatusReporte).Title("Estatus de Reporte").Width(100);

                // columns.Template("<button onclick='completarAccidente(e)'><h6 class='m-0 colorPrimary'><i class='icon-edit me-2'></i><b>Continuar</b></h6></button>").Width(90);
            columns.Bound(p => p.IdAccidente).ClientTemplate(
            "<button onclick=\"editarAccidente('#= IdAccidente #')\" class='w-100 btn'><h6 class='m-0 colorPrimary'><i class='icon-edit me-2'></i><b>Continuar</b></h6></button>"
            ).Title("Editar").Sortable(false).Width(90);

                

            }).HtmlAttributes(new { style = "height:550px" })
            .Sortable()
            .Groupable()
            .Scrollable()
            .Pageable()
            .DataSource(dataSource => dataSource
            .Ajax()
        .Read(read => read.Action("BuscarAccidentesLista", "CapturaAccidentes"))
            .PageSize(5).Model(model => model.Id(p => p.IdAccidente))
            )
            .ToolBar(t => t.Search())
            .Search(s =>
            {
            s.Field(c => c.EstatusReporte);
            s.Field(c => c.Municipio);
            s.Field(c => c.Carretera);
            s.Field(c => c.Tramo);
         


            })

            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single)
            .Type(GridSelectionType.Row)
            )
            )

    </div>
</div>


<script>
    function editarAccidente(idAccidente) {
        $.ajax({
            url: '/CapturaAccidentes/SetLastInsertedIdEdit',
            type: 'POST',
            data: { idAccidente: idAccidente },
            success: function (result) {

                window.location.href = '/CapturaAccidentes/CapturaAaccidente/?showE=false'

            },

        });
    }
</script>