<script>
function onRowSelect(e) {
   var selectedRow = this.dataItem(this.select());
        var IdVehiculoInvolucrado = selectedRow.IdVehiculoInvolucrado;
   obtenerIdPersonaDesdeModal(IdVehiculoInvolucrado);
}
    function obtenerIdPersonaDesdeModal(IdVehiculoInvolucrado) {

        var idPersona = $('#gridVehiculosInvolucrados').data('idPersona');
                         $('#idPersonaHidden').val(idPersona); 
                         $('#idVehiculoHidden').val(IdVehiculoInvolucrado); 
        $.ajax({
            url: '/CapturaAccidentes/GuardarRelacionPersonaVehiculo',
            type: 'POST',
            data: { idPersona: idPersona, IdVehiculoInvolucrado: IdVehiculoInvolucrado },
            success: function (response) {
                sitteg_success("Se ha actualizado la información del vehículo");
               
               // $("#tablaHospitales").html(result);      

            },
            error: function (error) {

            }
        });
    }

    
</script>

<div class="col-12 mb-4 px-4 rounded gridCustom">
    @(
        Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.CapturaAccidentesModel>()
        .Name("gridVehiculosInvolucrados")
        .Columns(columns =>
        {
            columns.Select().Width(50).ClientHeaderTemplate(" ");
            columns.Bound(c => c.IdPersona).Hidden();
            columns.Bound(c => c.IdVehiculo).Hidden();
            columns.Bound(c => c.IdVehiculoInvolucrado).Title("Vehiculo").Width(100);
            columns.Bound(c => c.Placa).Title("Placas").Width(100);
            columns.Bound(c => c.ConductorInvolucrado).Title("Conductor").Width(150);
            columns.Bound(c => c.PropietarioInvolucrado).Title("Propietario").Width(150);
            columns.Bound(c => c.FormaTrasladoInvolucrado).Title("Forma de traslado").Width(100);
            columns.Bound(c => c.TipoVehiculo).Title("Tipo de Vehículo").Width(100);
            columns.Bound(c => c.Pension).Title("Pension").Width(100);
           

        })
        .HtmlAttributes(new { style = "height:300px" })
        .Sortable()
        .Groupable()
        .Scrollable()
        .Pageable()
        .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("ObtVehiculosInvol", "CapturaAccidentes"))
        .PageSize(5)
        .Model(model => model.Id(p => p.IdMarcaVehiculo))
        )
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Row))
        .Events(events =>
        {
            events.Change("onRowSelect");
        })
        )
</div>
