<script>
     function onRowSelect(e) {
        var selectedRow = this.select();
        var IdVehiculo, IdInfraccion;

        if (selectedRow.length > 0) {
            var dataItem = this.dataItem(selectedRow);
            IdVehiculo = dataItem.IdVehiculo;
            IdInfraccion = dataItem.IdInfraccion;


            $.ajax({
                url: '@Url.Action("VincularInfraccionAccidente", "CapturaAccidentes")',
                type: 'POST',
                data: { IdVehiculo: IdVehiculo, IdInfraccion: IdInfraccion },
                success: function (result) {
                    sitteg_success("Se ha agragado la infracion al registro de accidente")
                    $('#agregarInfraccionModal').modal('hide');
                    actualizarGrid()
                },


                error: function (error) {
                    siteg_warning("Ha sucedido un error inetnte mas tarde");
                }
            });
        }
    }
    function actualizarGrid() {
        var grid = $("#gridInfraccionesAccidente").data("kendoGrid");
        grid.dataSource.read();
        grid.refresh();
    }

    function recargarGrid() {
        actualizarGrid();
    }
</script>

<div class="col-12 mb-4 px-4 rounded gridCustom">
    <button class="btnPrimary px-5" onclick="recargarGrid()">Actualizar</button>
    @(
        Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.CapturaAccidentesModel>()
        .Name("gridInfraccionesPorVehiculo")
        .Events(events => events.Change("onRowSelect"))
        .Columns(columns =>
        { 
            columns.Bound(c => c.IdInfraccion).Hidden();
            columns.Bound(c => c.IdVehiculo).Hidden();
            columns.Select().Width(50).ClientHeaderTemplate(" ");
            columns.Bound(c => c.folioInfraccion).Title("Folio").Width(90);
            columns.Bound(c => c.Fecha).Title("Fecha").Width(90);
            columns.Bound(c => c.Placa).Title("Placas").Width(90);
            columns.Bound(c => c.ConductorInvolucrado).Title("Conductor").Width(90);
            columns.Bound(c => c.Propietario).Title("Propietario").Width(90);
            columns.Bound(c => c.EntidadRegistro).Title("Estado").Width(90);


        }).HtmlAttributes(new { style = "height:300px" })
        .Sortable()
        .Groupable()
        .Scrollable()
        .Pageable()
        .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("ObtenerInfraccionesVehiculos", "CapturaAccidentes"))
        .PageSize(5).Model(model => model.Id(p => p.IdInfraccionAccidente))
        )
        .ToolBar(t => t.Search())      
        .Search(s =>
        {
            s.Field(c => c.EstatusReporte);
            s.Field(c => c.folioInfraccion);
            s.Field(c => c.EntidadRegistro);
                        s.Field(c => c.Placa);
            s.Field(c => c.ConductorInvolucrado);



        })
        
        

        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single)
        .Type(GridSelectionType.Row)
        )
        )

</div>

