@{
    bool esSoloLectura = ViewBag.EsSoloLectura ?? false;
    string claseColor = esSoloLectura ? "colorDisabled" : "colorDanger";
}
<div class="row">


    <script type="kendo-template" id="my-template">
        <table style="width:100%">
          <tr>
            <td><strong>Vehículo</strong></td>
            <td>#= Marca # #= Submarca #  #= Modelo #</td>
          </tr>

          <tr>
            <td><strong>Placas</strong></td>
             <td> #= Placa #</td>
          </tr>

          <tr>
            <td><strong>Tarjeta</strong></td>
             <td>#= Tarjeta #</td>
          </tr>

          <tr>
            <td><strong>Número vehículo</strong></td>
             <td>#= numeroConsecutivo #</td>
          </tr>

          <tr>
            <td><strong>Tipo carga</strong></td>
             <td>#= TipoCarga #</td>
          </tr>

          <tr>
            <td><strong>Póliza carga</strong></td>
             <td>#= Poliza #</td>
          </tr>
        </table>
        
    </script>
    <script>
     var myTemplate = kendo.template($('#my-template').html());
    </script>


    <script type="kendo-template" id="my-template2">
        <table style="width:100%">
          <tr>
            <td><strong>Pensión</strong></td>
            <td>#= Pension #</td>
          </tr>

          <tr>
            <td><strong>Grua</strong></td>
             <td> #= Grua #</td>
          </tr>

          <tr>
            <td><strong>Forma de Traslado</strong></td>
             <td>#= FormaTrasladoInvolucrado #</td>
          </tr>

          <tr>
            <td><strong>Tipo vehiculo</strong></td>
             <td>#= TipoVehiculo #</td>
          </tr>

          <tr>
            <td><strong>Monto daños</strong></td>
             <td>#= montoVehiculo #</td>
          </tr>

        </table>

    </script>
    <script>
        var myTemplate2 = kendo.template($('#my-template2').html());
    </script>
<div class="col-12 mb-4 px-4 rounded gridCustom">
    @(
        Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.CapturaAccidentesModel>()
        .Name("gridVehiculosInvolucrados")

        .Columns(columns =>
        {
            columns.Bound(c => c.IdPersona).Hidden();
            columns.Bound(c => c.IdVehiculo).Hidden();
                columns.Bound(p => p.numeroConsecutivo).Title("Vehículo").Width(250).ClientTemplate("#=myTemplate(data)#");

            columns.Bound(c => c.ConductorInvolucrado).Title("Conductor").Width(130);
            columns.Bound(c => c.PropietarioInvolucrado).Title("Propietario").Width(130);
                columns.Bound(p => p.montoVehiculo).Title("Detalles").Width(250).ClientTemplate("#=myTemplate2(data)#");
            columns.Template("<button onclick='mostrarDetalle()' class='w-100 btn'><h6 class='m-0 colorPrimary'><i class='icon-research me-2'></i><b>Detalle</b></h6></button>").Width(110);
                columns.Template(
                "<button class='w-100 btn " + claseColor + "'>" +
                "<h6 class='m-0' onclick='eliminarRegistro()'" +
                "<i class='h5 icon-delete me-2'></i><b>Eliminar</b>" +
                "</h6></button>"
                ).Width(110);
        })
        .HtmlAttributes(new { style = "height:480px" })
        .Sortable()
        .Groupable()
        .Scrollable()
        .Pageable()
        .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("ObtVehiculosInvol", "CapturaAccidentes"))
            .PageSize(5).Model(model => model.Id(p => p.IdVehiculo))
        )
            .ToolBar(t => t.Search().Text("Buscar..."))
            .Search(s =>
            {
                s.Field(c => c.fullVehiculo);
                s.Field(c => c.ConductorInvolucrado);
                s.Field(c => c.fullDetalles);

            })
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Row))
        )
</div>
</div>

<div class="modal fade modalCustom" id="mostrarDetalleModal" aria-labelledby="mostrarDetalleLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="ModalBodyMostrarDetalle">
            </div>
        </div>
    </div>
</div>

<div class="modal fade modalCustom" id="mostrarEliminarModal" aria-labelledby="eliminarLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="ModalBodyEliminar">
            </div>
        </div>
    </div>
</div>


<script>
    function mostrarDetalle(){
        var grid = $("#gridVehiculosInvolucrados").data("kendoGrid");
            var row = $(event.target).closest("tr");
            var dataItem = grid.dataItem(row);
        var IdVehiculoInvolucrado = dataItem.IdVehiculoInvolucrado
        var IdPropietarioInvolucrado = dataItem.IdPropietarioInvolucrado
            showLoading();
            $.ajax({
                url: '@Url.Action("ModalDetallesVehiculo", "CapturaAccidentes")',
                type: 'POST',
                data: {
                IdVehiculoInvolucrado: IdVehiculoInvolucrado, IdPropietarioInvolucrado: IdPropietarioInvolucrado
                },
                success: (data) => {
                $('#ModalBodyMostrarDetalle').html(data);
                $('#mostrarDetalleModal').modal('show');
                hideLoading();
            }, error: function () {
                sitteg_warning("Ocurrio un error al procesar su solicitud.");
                hideLoading();
            }
            });
        }

    function eliminarRegistro(){
        if ('@ViewBag.EsSoloLectura' === 'True') {
            return;
        }
        var grid = $("#gridVehiculosInvolucrados").data("kendoGrid");
        var row = $(event.target).closest("tr");
        var dataItem = grid.dataItem(row);
        var IdVehiculoInvolucrado = dataItem.IdVehiculoInvolucrado
        var IdPropietarioInvolucrado = dataItem.IdPropietarioInvolucrado
        var IdAccidente = dataItem.IdAccidente
        showLoading();
        $.ajax({
            url: '@Url.Action("ModalBorraRegistro", "CapturaAccidentes")',
            type: 'POST',
            data: {
                IdVehiculoInvolucrado: IdVehiculoInvolucrado, IdPropietarioInvolucrado: IdPropietarioInvolucrado, IdAccidente : IdAccidente
            },
            success: (data) => {
                $('#ModalBodyEliminar').html(data);
                $('#mostrarEliminarModal').modal('show');
                hideLoading();
            }, error: function () {
                sitteg_warning("Ocurrio un error al procesar su solicitud.");
                hideLoading();
            }
        });
    }

</script>

