<script>
    function modalAgregarmonto(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var IdAccidente = dataItem.IdAccidente;
        var IdVehiculoInvolucrado = dataItem.IdVehiculoInvolucrado;
        console.log("TODO", dataItem);
        $.ajax({
            url: '@Url.Action("MostrarModalAgregarMonto", "CapturaAccidentes")',
            type: 'POST',
            data: {
                IdAccidente: IdAccidente,
                IdVehiculoInvolucrado: IdVehiculoInvolucrado
            },
            success: function (result) {
                $('#ModalBodyAgregarMontoAccidente').html(result);
                $('#agregarMontoModal').modal('show');

            },
        })
    }

</script>

<div class="col-12 mb-4 px-4 rounded gridCustom">

    @(
        Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.CapturaAccidentesModel>()
        .Name("gridVehiculosDanos")
        .Columns(columns =>
        {
            columns.Bound(c => c.IdAccidente).Hidden();
            columns.Bound(c => c.NumeroReporte).Width(90);
            columns.Bound(c => c.IdVehiculoInvolucrado).Width(90);
            columns.Bound(c => c.Placa).Width(90);
            columns.Bound(c => c.Serie).Width(90);
            columns.Bound(c => c.Color).Width(90);
            columns.Bound(c => c.Marca).Width(90);
            columns.Bound(c => c.montoVehiculo).Title("Monto").Width(90);
            columns.Command(c => c.Custom("Agregar monto").Click("modalAgregarmonto")).Width(100);


        }).HtmlAttributes(new { style = "height:400px" })
        .Sortable()
        .Groupable()
        .Scrollable()
        .Pageable()
        .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("ObtVehiculosInvol", "CapturaAccidentes"))
        .PageSize(5).Model(model => model.Id(p => p.IdAccidente))
        )
        .ToolBar(t => t.Search())
        .Search(s =>
        {
            s.Field(c => c.EstatusReporte);

        })

        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single)
        .Type(GridSelectionType.Row)
        )
        )

</div>
<div class="modal fade modalCustom" id="agregarMontoModal" tabindex="-1" aria-labelledby="agregarMontoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="ModalBodyAgregarMontoAccidente">
            </div>
        </div>
    </div>
</div>
