<script>
    function onRowSelectC(e) {
        var selectedRow = this.select();

        var IdPersona; 
        
        if (selectedRow.length > 0) {
            var dataItem = this.dataItem(selectedRow); 
            console.log("DTI",dataItem)
            IdPersona = dataItem.IdPersona;
            idAuto = parseInt(window.IdVehiculo)
        }
        showLoading();
        $.ajax({
            url: '@Url.Action("GuardarConductorVehiculo", "CapturaAccidentes")',
            type: 'POST',
            data: { IdPersona: IdPersona, idAuto: idAuto },
            success: function (result) {
            sitteg_success("Se ha agregado un conductor")
                $('#modalAgregarConductor').modal('hide');
                $('.modal-backdrop').remove();
                abrirModalDetalles();  
                hideLoading();
            },
            error: function (error) {
                sitteg_warning("Ocurrio un error, intente de nuevo mas tarde");
                hideLoading();
            }
        });
    }
    function abrirModalDetalles() {
        $.ajax({
            url: '@Url.Action("ModalAgregarComplemeto")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $('#modalComplementoVehiculo').modal('show');
                $('#ModalBodymodalComplementoVehiculo').html(data);
            }
        });
    }
    </script>
<div class="row">
<div class="col-12 my-4 px-4 rounded gridCustom">
    @(
        Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.CapturaAccidentesModel>()
        .Name("gridConductores")
        .Events(events => events.Change("onRowSelectC"))
        .Columns(columns =>
        {
            columns.Bound(c => c.IdPersona).Hidden();
            columns.Bound(c => c.IdVehiculo).Hidden();
            columns.Select().Width(50).ClientHeaderTemplate(" ");
            columns.Bound(c => c.nombre).Title("Nombre").Width(100);
            columns.Bound(c => c.apellidoPaterno).Title("Apellido Paterno").Width(100);
            columns.Bound(c => c.apellidoMaterno).Title("Apellido Materno").Width(100);
                columns.Bound(c => c.RFC).Title("RFC").Width(100);
                columns.Bound(c => c.CURP).Title("CURP").Width(100);
                columns.Bound(c => c.numeroLicencia).Title("No. de Licencia").Width(100);
        
        })
            .HtmlAttributes(new { style = "height:450" })
            .Pageable(p => p.Enabled(true).PageSizes(new[] { 10, 20, 30 }))
            .DataSource(dataSource => dataSource
            .Ajax())
            .Sortable()
            .Scrollable(scr => scr.Height(350))
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("BuscarConductor", "CapturaAccidentes"))
            .ServerOperation(false)
            )
            .ToolBar(t => t.Search().Text("Buscar..."))
            .Search(s =>
            {
                s.Field(c => c.nombre);
                s.Field(c => c.apellidoPaterno);
                s.Field(c => c.apellidoMaterno);
                s.Field(c => c.RFC);
                s.Field(c => c.CURP);
                s.Field(c => c.numeroLicencia);

            })
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Row))
        )
</div>
</div>