<div class="row">
<div class="col-12 mb-4 px-4 rounded gridCustom">
    @(
        Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.CapturaAccidentesModel>()
        .Name("gridVehiculosInvolucrados")
        .Columns(columns =>
        {
            columns.Bound(c => c.IdPersona).Hidden();
            columns.Bound(c => c.IdVehiculo).Hidden();
            columns.Bound(p => p.fullVehiculo).Title("Vehículo").Width(190);
            columns.Bound(c => c.ConductorInvolucrado).Title("Conductor").Width(130);
            columns.Bound(p => p.fullDetalles).Title("Detalles").Width(190);
            columns.Template("<button onclick='mostrarDetalle()' class='w-100 btn'><h6 class='m-0 colorPrimary'><i class='icon-research me-2'></i><b>Detalle</b></h6></button>").Width(110);
            columns.Template("<button onclick='eliminarRegistro()' class='w-100 btn'><h6 class='m-0 colorDanger'><i class='h5 icon-delete me-2'></i><b>Eliminar</b></h6></button>").Width(110);


        })
        .HtmlAttributes(new { style = "height:400px" })
        .Sortable()
        .Groupable()
        .Scrollable()
        .Pageable()
        .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("ObtVehiculosInvol", "CapturaAccidentes"))
        .PageSize(5).Model(model => model.Id(p => p.IdMarcaVehiculo))
        )
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Row))
        )
</div>
</div>

<div class="modal fade modalCustom" id="mostrarDetalleModal" tabindex="-1" aria-labelledby="mostrarDetalleLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="ModalBodyMostrarDetalle">
            </div>
        </div>
    </div>
</div>

<div class="modal fade modalCustom" id="mostrarEliminarModal" tabindex="-1" aria-labelledby="eliminarLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="ModalBodyEliminar">
            </div>
        </div>
    </div>
</div>


<script>
    function mostrarDetalle(){
        var grid = $("#gridVehiculosInvolucrados").data("kendoGrid");
            var row = $(event.target).closest("tr");
            var dataItem = grid.dataItem(row);
        var IdVehiculoInvolucrado = dataItem.IdVehiculoInvolucrado
        var IdPropietarioInvolucrado = dataItem.IdPropietarioInvolucrado
            
            $.ajax({
                url: '@Url.Action("ModalDetallesVehiculo", "CapturaAccidentes")',
                type: 'POST',
                data: {
                IdVehiculoInvolucrado: IdVehiculoInvolucrado, IdPropietarioInvolucrado: IdPropietarioInvolucrado
                },
                success: (data) => {
                $('#ModalBodyMostrarDetalle').html(data);
                $('#mostrarDetalleModal').modal('show');
                }
            });
        }

    function eliminarRegistro(){
        var grid = $("#gridVehiculosInvolucrados").data("kendoGrid");
        var row = $(event.target).closest("tr");
        var dataItem = grid.dataItem(row);
        var IdVehiculoInvolucrado = dataItem.IdVehiculoInvolucrado
        var IdPropietarioInvolucrado = dataItem.IdPropietarioInvolucrado
        var IdAccidente = dataItem.IdAccidente

        $.ajax({
            url: '@Url.Action("ModalBorraRegistro", "CapturaAccidentes")',
            type: 'POST',
            data: {
                IdVehiculoInvolucrado: IdVehiculoInvolucrado, IdPropietarioInvolucrado: IdPropietarioInvolucrado, IdAccidente : IdAccidente
            },
            success: (data) => {
                $('#ModalBodyEliminar').html(data);
                $('#mostrarEliminarModal').modal('show');
            }
        });
    }
</script>

