<div class="col-12 mb-4 px-4 rounded gridCustom">

    @(
        Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.CapturaAccidentesModel>()
        .Name("gridClasificacion")
        .Columns(columns =>
        {
            columns.Bound(c => c.IdAccidente).Hidden();
            //columns.Command(c => c.Custom("Eliminar").Click("eliminarClasificacion")).Width(80);
            columns.Bound(c => c.NombreClasificacion).Width(90);
            columns.Template("<button data-bs-toggle='modal' class='w-100 btn'><h6 class='m-0 colorDanger' onclick='eliminarClasificacion(event)'><i class='h5 icon-delete me-2'></i><b>Eliminar</b></h6></button>").Width(150);

        }).HtmlAttributes(new { style = "height:300px" })
        .Sortable()
        .Groupable()
        .Scrollable()
        .Pageable()
        .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("ObtClasificacionAccidente", "CapturaAccidentes"))
        .PageSize(5).Model(model => model.Id(p => p.IdClasificacionAccidente))
        )
        .ToolBar(t => t.Search())
        .Search(s =>
        {
            s.Field(c => c.EstatusReporte);

        })

        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single)
        .Type(GridSelectionType.Row)
        )
        )

</div>
<div class="modal fade modalCustom" id="eliminarClasificacionModal" tabindex="-1" aria-labelledby="clasificacionAccidenteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="ModalBodyEliminarClasificacion">
            </div>
        </div>
    </div>
</div>
<script>
    function eliminarClasificacion(event) {
        var grid = $("#gridClasificacion").data("kendoGrid");
        var row = $(event.target).closest("tr");
        var dataItem = grid.dataItem(row);
        var IdAccidente = dataItem.IdAccidente
        $.ajax({
            url: '@Url.Action("ModalEliminarClasificacion", "CapturaAccidentes")',
            type: 'POST',           
            data: {
                IdAccidente: IdAccidente},
            success: (data) => {
                $('#ModalBodyEliminarClasificacion').html(data);
                $('#eliminarClasificacionModal').modal('show');
            }
        });
    }

</script>