    
<script>
    function FormatDate(date) {
        var cdate = convertDate(date);
        cdate = cdate == "01/01/0001" ? "" : cdate;
        return cdate;
    }
</script>

<div class="col-12 mb-4 px-4 rounded gridCustom">

        @(
            Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.CapturaAccidentesModel>()
            .Name("gridInvolucradosTodo")
            .Columns(columns =>
            {
                columns.Bound(c => c.idPersonaInvolucrado).Hidden();
                columns.Bound(c => c.nombre).Title("Nombre").Width(100);//Completo
                columns.Bound(c => c.apellidoPaterno).Title("Apellido Paterno").Width(100);
                columns.Bound(c => c.apellidoMaterno).Title("Apellido Materno").Width(100);
                columns.Bound(c => c.rfc).Title("RFC").Width(100);
                columns.Bound(c => c.curp).Title("CURP").Width(100);
                columns.Bound(c => c.TipoLicencia).Title("Tipo de No Licencia").Width(100);
                columns.Bound(c => c.fechaNacimiento).Title("Fecha Nacimineto").ClientTemplate("#= FormatDate(fechaNacimiento) #").Format("{0:dd/MM/yyyy}").Width(100);
                columns.Bound(c => c.TipoVehiculo).Title("Tipo de Vehículo").Width(100);
                columns.Bound(c => c.EstadoVictima).Title("Estado de involucrado").Width(100);
                columns.Bound(c => c.NombreHospital).Title("LLevado a:").Width(100);
                columns.Bound(c => c.InstitucionTraslado).Title("Trasladado por:").Width(100);
                columns.Bound(c => c.Asiento).Title("Asiento que ocupaba").Width(100);
                columns.Bound(c => c.Cinturon).Title("Cinturon").Width(100);
                //columns.Command(c => c.Custom("Editar").Click("getId")).Width(100);
                //columns.Command(c => c.Custom("Eliminar").Click("getId")).Width(100);


            }).HtmlAttributes(new { style = "height:500px" })
            .Sortable()
            .Groupable()
            .Scrollable()
            .Pageable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("ObtInvolucradosAccidente", "CapturaAccidentes"))
            .PageSize(5).Model(model => model.Id(p => p.nombre))
            )
            .ToolBar(t => t.Search())
            .Search(s =>
            {
                s.Field(c => c.nombre);

            })

            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single)
            .Type(GridSelectionType.Row)
            )

            )
    </div>

