<div class="row">
    <div class="col-12 mb-4 px-4 rounded gridCustom">
        @{
            var count = 1;
        }

        @(

            Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.CapturaAccidentesModel>()
            .Name("gridCausasA")
            .Columns(columns =>
            {
                //columns.Bound(c => c.IdAccidente).Title("Orden1").Width(30);

                columns.Bound(c => c.idAccidenteCausa).Hidden();
                columns.Bound(c => c.CausaAccidente).Title("Causa").Width(100);          
               // columns.Command(c => c.Custom("Editar").Click("editarCausa")).Width(100);
               // columns.Command(c => c.Custom("Eliminar").Click("eliminarCausa")).Width(100);
                columns.Template("<button data-bs-toggle='modal' class='w-100 btn'><h6 class='m-0 colorPrimary' onclick='seleccionarCausaEditar(event)'><i class='h5 icon-edit me-2'></i><b>Editar</b></h6></button>").Width(150);
                columns.Template("<button class='w-100 btn'><h6 class='m-0 colorDanger' onclick='eliminarCausa(event)'><i class='h5 icon-delete me-2'></i><b>Eliminar</b></h6></button>").Width(150);
                //columns.Template("<span class='orden-column'>@(count)</span>").Title("Orden").Width(30);
                columns.Bound(c => c.IdCausaAccidente).Title("Orden").Width(30);
                columns.Command(command => command.Custom("Arriba").Text("").Click("arriba")).Width(60);
                columns.Command(command => command.Custom("Abajo").Text("").Click("abajo")).Width(60);
            }).HtmlAttributes(new { style = "height:400px" })

            .Sortable()
            .Groupable()
            .Scrollable()
            .Pageable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("ObtCausasAccidente", "CapturaAccidentes"))
            .PageSize(5).Model(model => model.Id(p => p.CausaAccidente))
            )
            .ToolBar(t => t.Search())
            .Search(s =>
            {
                s.Field(c => c.CausaAccidente);

            })

            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single)
            .Type(GridSelectionType.Row)
            )

            )
    </div>
</div>
<div class="modal fade modalCustom" id="editarCausaAccidenteModal" tabindex="-1" aria-labelledby="editarCausaAccidenteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" id="ModalBodyEditarCausaAccidente">
            </div>
        </div>
    </div>
</div>

<div class="modal fade modalCustom" id="eliminarCausaModal" tabindex="-1" aria-labelledby="eliminarCausaAccidenteLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
            <div class="modal-body" id="ModalBodyEliminarCausa">
        </div>
    </div>
</div>
</div>
<script>
    function seleccionarCausaEditar(event) {
        console.log("ABRIR MODAL")

        var grid = $("#gridCausasA").data("kendoGrid");
        var row = $(event.target).closest("tr");
        var dataItem = grid.dataItem(row);
            var CausaAccidente = dataItem.CausaAccidente;
            var IdCausaAccidente = dataItem.IdCausaAccidente;
         var idAccidenteCausa = dataItem.idAccidenteCausa;


            $.ajax({
                url: '@Url.Action("ModalEditarCausaAccidente", "CapturaAccidentes")',
                type: 'POST',
            data: { IdCausaAccidente: IdCausaAccidente, CausaAccidente: CausaAccidente, idAccidenteCausa: idAccidenteCausa },
                success: function (result) {
                $('#ModalBodyCausaAccidente').html(result);
                $('#causaAccidenteModal').modal('show');
                },
            });
        }
    

    function eliminarCausa(event) {
    var grid = $("#gridCausasA").data("kendoGrid");
        var row = $(event.target).closest("tr");
    var dataItem = grid.dataItem(row);
    var CausaAccidente = dataItem.CausaAccidente
    var IdCausaAccidente = dataItem.IdCausaAccidente
    $.ajax({
            url: '@Url.Action("ModalEliminarCausas", "CapturaAccidentes")',
            type: 'POST',
            data: { IdCausaAccidente: IdCausaAccidente, CausaAccidente : CausaAccidente },
            success: function (result) {
                $('#ModalBodyCausaAccidente').html(result);
                $('#causaAccidenteModal').modal('show');
            }
        });
    }
 
    function arriba(e) {
        e.preventDefault();
        var grid = $("#gridCausasA").data("kendoGrid");
        var selectedRow = $(e.target).closest("tr");
        var dataItem = grid.dataItem(selectedRow);
        var currentIndex = grid.dataSource.indexOf(dataItem);
        if (currentIndex > 0) {
            var previousItem = grid.dataSource.at(currentIndex - 1);
            grid.dataSource.remove(dataItem);
            grid.dataSource.insert(currentIndex - 1, dataItem);
        }
    }

    function abajo(e) {
        e.preventDefault();
        var grid = $("#gridCausasA").data("kendoGrid");
        var selectedRow = $(e.target).closest("tr");
        var dataItem = grid.dataItem(selectedRow);
        var currentIndex = grid.dataSource.indexOf(dataItem);
        if (currentIndex < grid.dataSource.total() - 1) {
            var nextItem = grid.dataSource.at(currentIndex + 1);
            grid.dataSource.remove(dataItem);
            grid.dataSource.insert(currentIndex + 1, dataItem);
        }
    }
</script>
