<div class="col-12 mb-4 px-4 rounded gridCustom">
    @(
        Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.CapturaAccidentesModel>()
        .Name("gridPrevioVehiculo")
        .Columns(columns =>
        {
            columns.Bound(c => c.Marca).Title("Marca").Width(100);
            columns.Bound(c => c.Submarca).Title("Submarca").Width(100);
            columns.Bound(c => c.Placa).Title("Placa").Width(100);
            columns.Bound(c => c.Serie).Title("Serie").Width(100);
            columns.Bound(c => c.Tarjeta).Title("Tarjeta").Width(100);
            columns.Bound(c => c.TipoServicio).Title("Tipo de Servicio").Width(100);
            columns.Bound(c => c.TipoVehiculo).Title("Tipo de Vehículo").Width(100);
            columns.Bound(c => c.Propietario).Title("Propietario").Width(100);
            columns.Bound(c => c.Color).Title("Color").Width(100);
            columns.Bound(c => c.EntidadRegistro).Title("Entidad").Width(100);
            columns.Command(c => c.Custom("Seleccionar").Click("agregarVehiculo")).Width(50);


        })
        .HtmlAttributes(new { style = "height:250px" })
        .Sortable()
        .Groupable()
        .Scrollable()
        .Pageable()
        .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("BuscarVehiculo", "CapturaAccidentes"))
        .PageSize(5).Model(model => model.Id(p => p.IdMarcaVehiculo))
        )
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Row))
        )
</div>

<script>
    function agregarVehiculo(e) {
       var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var IdVehiculo = dataItem.IdVehiculo;
        console.log(IdVehiculo);

        $.ajax({
            url: '@Url.Action("CapturarAccidentes", "ActualizarAccidenteConVehiculo")',
            type: 'POST',
            data: { IdVehiculo: IdVehiculo },
            success: function (result) {
                alert("GUARDADO")
            },
            error: function (error) {
                alert("ERROR");
            }
        });
    }
    </script>
