 <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded pb-1">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <div class="border border-2 border-dark rounded-circle">
                            <h5 class="m-0 numberCard d-flex align-items-center justify-content-center">
                                <b>2</b>
                            </h5>
                        </div>
                    </div>
                    <div class="col-auto p-0">
                        <i class="icon-addInfracion h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Agregar infracciones</b></h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                <div class="row">
                    <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0" onclick="goBack()">
                        @(Html.Kendo().Button()
                          .Name("back")
                          .HtmlAttributes(new { @class = "px-5" })
                          .Content("<h6 class=\"m-0\"><i class=\"icon-back me-2\"></i><b>Regresar</b></h6>"))
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-11 pe-0">
                <div class="bgSuccess py-1"></div>
            </div>
            <div class="col-1 ps-0">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 my-4">
                <h5 class="px-4"><b>Captura las infracción del vehículo seleccionado</b></h5>
                <h6 class="px-4 text-muted">
                    Busca o da de alta la infracción en vehículos cargados en accidente.
                </h6>
            </div>
        </div>
        <div class="row px-4 align-items-end">
            <div class="col-12 mt-4 controlForm">
                <label>Estatus de infracción a enlazar:</label>
            </div>
        </div>
        <div>
            <nav class="tabCustom">
                <div class="nav nav-tabs row mx-0" id="nav-tab" role="tablist">
                    <button class="nav-link col active" id="vehiculo-involucrado-tab" data-bs-toggle="tab" data-bs-target="#vehiculo-involucrado" type="button" role="tab" aria-controls="vehiculo-involucrado" aria-selected="true">
                        <div class="row justify-content-center align-items-center px-3 py-2">
                            <div class="col-auto radioCustom p-0">
                                <div class="rounded-circle m-2"></div>
                            </div>
                            <div class="col-auto p-0">
                                <h5 class="m-0"><i class="icon-plus h5"></i> <b>Capturar infracción</b></h5>
                            </div>
                        </div>
                    </button>
                    <button class="nav-link col" id="noneVehiculo-involucrado-tab" data-bs-toggle="tab" data-bs-target="#noneVehiculo-involucrado" type="button" role="tab" aria-controls="noneVehiculo-involucrado" aria-selected="false">
                        <div class="row justify-content-center align-items-center px-3 py-2">
                            <div class="col-auto radioCustom p-0">
                                <div class="rounded-circle m-2"></div>
                            </div>
                            <div class="col-auto p-0">
                                <h5 class="m-0"><i class="icon-research h4"></i> <b>Buscar infracciones</b></h5>
                            </div>
                        </div>
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane tabCustomConteiner fade show active" id="vehiculo-involucrado" role="tabpanel" aria-labelledby="vehiculo-involucrado-tab">
                    <div class="px-4 mt-4 pb-4 align-items-end">
                        <div class="justify-content-between mb-1">
                            <div class="col-12 col-lg-6 mt-4 mb-4">
                                <h5 class="px-4"><b>Listado de vehículos involucrados</b></h5>
                                <h6 class="px-4 text-muted">Selecciona un vehículo involucrado para continuar.</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 px-4 rounded mb-4">
                            <div id="tablaVehiculosParaInfraccion">
                                <partial name="_ListaVehiculosParaInfraccion" model="Model" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-3 mb-4">
                    <div class="col-12 col-md-6 mx-md-auto">
                        <div class="row justify-content-around">

                            <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                                <div class="controlButton" onclick="finalizar()">
                                    @(Html.Kendo().Button()
                                        .Name("saveInfraccion")
                                        .HtmlAttributes(new { @class = "btnPrimary px-5" })
                                        .Content("<h5 class=\"m-0\"><b>Finalizar captura</b></h5>"))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tabCustomEnd"></div>
                    </div>
                </div>

            </div>
            <div class="tab-pane tabCustomConteiner fade" id="noneVehiculo-involucrado" role="tabpanel" aria-labelledby="noneVehiculo-involucrado-tab">
                <div class="px-4 mt-4 pb-4 align-items-end">
                    <div class="row justify-content-between mb-1">
                        <div class="col-12 col-lg-6 mt-4 mb-4">
                            <h5 class="px-4"><b>Listado de vehículos involucrados</b></h5>
                            <h6 class="px-4 text-muted">Selecciona un vehículo involucrado para continuar.</h6>
                        </div>
                        <div class="col-12 col-lg-6 mt-4 mb-4">
                            <div class="btnOutline btnOutlinePrimary px-4 my-3">
                                <button class="btn btnPrimary px-5" onclick="recargarGrid()"><h6 class="m-0"><b>Actualizar</b></h6></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 px-4 rounded mb-4">
                            <div id="tablaInfracionesVehiculos">
                            <partial name="_ListaInfraccionesAccidentePorVehiculo" model="Model" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-3 mb-4">
                    <div class="col-12 col-md-6 mx-md-auto">
                        <div class="row justify-content-around">

                            <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                                <div class="controlButton">
                                    @(Html.Kendo().Button()
                                        .Name("saveInfraccionA")
                                        .HtmlAttributes(new { @class = "btnPrimary px-5" })
                                        .Content("<h5 class=\"m-0\"><b>Finalizar captura</b></h5>"))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tabCustomEnd"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function goBack() {
    $('#agregarInfraccionModal').modal('hide');

    }
</script>