@model List<PersonaModel>

<div class="row justify-content-between mb-1">
    <div class="col-12 col-lg-6 mt-4 mb-2">
        <h5 class="px-4"><b>Listado de personas</b></h5>
        <h6 class="px-4 text-muted">Selecciona una persona para completar el registro.</h6>
    </div>
    <div class="col-12 col-lg-auto text-center">
        <div class="btnOutline btnOutlinePrimary px-4 my-3">
            <button data-bs-toggle="modal" data-bs-target="#addFisico">
                <h5 class="m-0"><i class="me-2 icon-addFisica"></i><b>Agregar nueva persona física</b></h5>
            </button>
        </div>
    </div>
</div>

<div class="row my-4 px-4">
    <div class="col-12 rounded gridCustom">
        @(Html.Kendo().Grid(Model) 
            .Name("gridPersonasFisicasAc")
            .Columns(columns =>
            {
                columns.Bound(c => c.idPersona).Hidden();
                columns.Bound(c => c.idCatTipoPersona).Hidden();
                columns.Select().ClientHeaderTemplate(" ");
                columns.Bound(c => c.nombreCompleto).Title("Nombre");
                columns.Bound(p => p.CURP).Title("CURP");
                columns.Bound(p => p.RFC).Title("RFC");
                columns.Bound(p => p.numeroLicencia).Title("No. Licencia");
                columns.Bound(c => c.tipoPersona).Title("Tipo persona");
            }).HtmlAttributes(new { style = "height:250" })
            @*.Pageable(pager => pager.AlwaysVisible(true).Position(GridPagerPosition.Bottom).PageSizes(true))
            .Sortable()
            .Scrollable(scr => scr.Enabled(true))
            .Scrollable(scr => scr.Height(250))
            .DataSource(dataSource => dataSource
            .Ajax()
            .ServerOperation(false)
            .PageSize(5)
            )*@

            .Pageable(p => p.Enabled(true).PageSizes(new[] { 10, 20, 30 }))
            .EnableCustomBinding(false)
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read("ajax_BuscarPersonasFiscasPagination", "CapturaAccidentes")
            .PageSize(10)
            )
            .Scrollable(scr => scr.Height(350)
            )
            .ToolBar(t => t.Custom().Text("Buscar...").Name("search"))
            @*.Search(s =>
            {
                s.Field(c => c.nombreCompleto);
                s.Field(c => c.CURP); 
                s.Field(c => c.RFC);
                s.Field(c => c.numeroLicencia);

            })*@
            )
    </div>

</div>

<div class="row my-5">
    <div class="col-12 col-md-6 mx-md-auto">
        <div class="row justify-content-around">
            <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                <div class="controlButton" onclick="submitCreateVehiculo()">
                    @(Html.Kendo().Button()
                        .Name("saveFisicoAC")
                        .HtmlAttributes(new { @class = "btnPrimary px-5" })
                        .Content("<h5 class=\"m-0\"><b>Finalizar captura</b></h5>"))
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    $(document).ready(function () {
        var grid = $("#gridPersonasFisicasAc").data("kendoGrid");
        grid.tbody.on("click", ".k-checkbox", onClickPersonasFisicas);

        function onClickPersonasFisicas(e) {
            var grid = $("#gridPersonasFisicasAc").data("kendoGrid");
            var row = $(e.target).closest("tr");
            var dataItem = grid.dataItem(row);
            console.log("ROW",dataItem)

            var idPersona = dataItem.idPersona;
            console.log("IDP", idPersona)
            var idCatTipoPersona = dataItem.idCatTipoPersona;
            $("#ddlIdPersona").val(idPersona);
            $("#ddlIdCatTipoPersona").val(idCatTipoPersona);
            if (row.hasClass("k-selected")) {
                setTimeout(function (e) {
                    var grid = $("#gridPersonasFisicasAc").data("kendoGrid");
                    grid.clearSelection();
                    var gridMoral = $("#gridPersonasMorales").data("kendoGrid");
                    gridMoral.clearSelection();
                })
            } else {
                grid.clearSelection();
            };
        };
    })

</script>