@{
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
    var listaIdsPermitidosJson = @HttpContextAccessor.HttpContext.Session.GetString("IdsPermitidos").ToString();
    var autorizaciones = @HttpContextAccessor.HttpContext.Session.GetString("Autorizaciones").ToString();
}

<script>
    $(document).ready(function () {
        var access = @listaIdsPermitidosJson;
        if (access != undefined && access != '') {
            if (!access.toString().includes(localStorage.getItem("menuId"))) {
                Swal.fire({
                    icon: "error",
                    title: "¡EL usuario no tiene acceso a esta opción!"
                });
                setTimeout(() => {
                    window.location.href = "/Principal";
                }, 200);
            }
        } else {
            Swal.fire({
                icon: "error",
                title: "¡EL usuario no tiene acceso a esta opción!"
            });
            setTimeout(() => {
                window.location.href = "/Principal";
            }, 200);
        }
    });

</script>
<div class="mainContainer bg-light">
    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <i class="icon-accidentes h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Accidente</b></h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                <div class="row">
                    <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                        <a href="@Url.Action("NuevoAccidente", "CapturaAccidentes")" class="d-flex m-0 text-decoration-none"><h6 class="m-0 d-flex align-items-center"> <i class="me-2 icon-addAccidentes"></i> <b>Agregar nuevo accidente</b></h6></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="bgDanger py-1"></div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-12 col-md-auto mt-4 mb-2">
                <h5 class="px-4 colorDanger"><b class="text-white bgDanger mb-1 me-2 rounded-circle px-2 h6">i</b><b>Registro de accidentes incompletos</b></h5>
                <h6 class="px-4 text-muted">Se encontraron capturas incompletas, para llevar la numeración correcta se recomienda que todas las capturas se completen en su totalidad.</h6>
            </div>
        </div>
        <div class="row justify-content-between mb-1 titleCustom">
            <div class="col-12 col-md-auto mt-4 mb-2">
                <h5 class="px-4"><b>Listado de accidentes incompletos</b></h5>
                <h6 class="px-4 text-muted">Continúa la captura de los accidentes.</h6>
            </div>
        </div>
        <div id="listadoAccidentes">
            <partial name="_ListadoAccidentes" model="Model" />
        </div>
    </section>
</div>

<script>
    function agregarAccidente() {

        $.ajax({
            url: `/CapturaAccidentes/NuevoAccidente`,
            type: 'POST',
            success: function (result) {

            },
        })
    }

</script>
