@model List<CatTramosModel>
<div class="row">
    <div class="col-12 mb-4 px-4 rounded gridCustom">

        @(Html.Kendo().Grid(Model)
            .Name("gridTramos")
            .Columns(columns =>
            {
                columns.Bound(c => c.IdTramo).Width(40).Title("Id");
                columns.Bound(c => c.Tramo).Width(80);
                columns.Bound(c => c.Carretera).Width(100);
                columns.Bound(c => c.estatusDesc).Title("Estatus en sistema").Width(100);
                columns.Command(c => c.Custom("Editar").Click("editarTramo")).Width(100);
                // columns.Command(c => c.Custom("Eliminar").Click("eliminar")).Width(100);


            }).HtmlAttributes(new { style = "height:550px" })
            .Pageable(pager => pager.AlwaysVisible(true).Position(GridPagerPosition.Bottom).PageSizes(true))
            .Sortable()
            .Scrollable(scr => scr.Enabled(true))
            .DataSource(dataSource => dataSource
            .Ajax()
            .ServerOperation(false)
            .PageSize(5)
            )

            .ToolBar(t => t.Search().Text("Buscar..."))
            .Search(s =>
            {
                s.Field(c => c.Carretera);
                s.Field(c => c.Tramo);


            })

            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single)
            .Type(GridSelectionType.Row)
            )

            )

        @(Html.Kendo().Tooltip()
            .For("#gridTramos")
            .Filter("th")
            .Position(TooltipPosition.Top)
            .ContentHandler("tooltipContent")
            )

    </div>
</div>

<script>
    function editarTramo(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var IdTramo = dataItem.IdTramo;
        console.log(IdTramo);
        showLoading();
        $.ajax({
            url: '@Url.Action("EditarTramoModal", "CatTramos")',
            type: 'POST', 
            data: { IdTramo: IdTramo },
            success: function (result) {
                $('#ModalBodyTramo').html(result);
                $('#agregarTramo').modal('show');
                hideLoading();
            }, error: function () {
                sitteg_warning("Ocurrio un error al procesar su solicitud.");
                hideLoading();
            }
        })
    }

    function tooltipContent(e) {
        var titulo = e.target.context.dataset.title;
        return titulo;
    }

</script>