@model VehiculoModel


<div class="row my-4 px-4">
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Placas:</label>&nbsp;@Model.placas
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Serie:</label>&nbsp;@Model.serie
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Numero tarjeta:</label>&nbsp;@Model.tarjeta
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Vigencia tarjeta:</label>&nbsp;@Model.vigenciaTarjeta.Value.ToShortDateString()
        </div>
    </div>
</div>
<div class="row my-4 px-4">
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Entidad de registro:</label>&nbsp;@Model.entidadRegistro
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Marca:</label>&nbsp;@Model.marca
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Submarca:</label>&nbsp;@Model.submarca
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Tipo vehículo:</label>&nbsp;@Model.tipoVehiculo
        </div>
    </div>
</div>
<div class="row my-4 px-4">
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Modelo:</label>&nbsp;@Model.modelo
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Color:</label>&nbsp;@Model.color
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Capacidad:</label>&nbsp;@(Model.capacidad != null ? Model.capacidad.ToString() : "-")
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Póliza:</label>&nbsp;@(Model.poliza != null ? Model.poliza.ToString() : "-")
        </div>
    </div>
</div>
<div class="row my-4 px-4">
    <div class="form-group col-md-4">
        <div class="controlForm">
            <label>Carga:</label>&nbsp;@(Model.carga.HasValue ? (Model.carga.Value ? "Si" : "No") : "-")
        </div>
    </div>
    <div class="form-group col-md-4">
        <div class="controlForm">
            <label>Otros:</label>&nbsp;@(Model.otros != null ? Model.otros.ToString() : "-")
        </div>
    </div>
    <div class="form-group col-md-4">
        <div class="controlForm">
            <label>Número económico:</label>&nbsp;@Model.numeroEconomico
        </div>
    </div>
</div>

<div class="row my-4 px-4">
    <div class="form-group col-md-6">
        <div class="controlForm">
            <label>Propietario:</label>
            <p>@Model.Persona.nombreCompleto</p>
        </div>
    </div>
</div>