@model VehiculoModel


<hr />
@Html.HiddenFor(s=>s.Persona.idPersona);
<div class="row my-4 px-4">
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Placas:</label>&nbsp;@Model.placas

        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Serie:</label>&nbsp;@Model.serie

        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Numero tarjeta:</label>&nbsp;@Model.tarjeta

        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Vigencia tarjeta:</label>&nbsp;@(!Model.vigenciaTarjeta.HasValue ? "-" : Model.vigenciaTarjeta.Value.Year < 1980 ? "-" : Model.vigenciaTarjeta.Value.ToString("dd/MM/yyyy"))
        </div>
    </div>
</div>

<div class="row my-4 px-4">
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Entidad de registro:</label>&nbsp;@Model.entidadRegistro
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Marca:</label>&nbsp;@Model.marca

        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Submarca:</label>&nbsp;@Model.submarca

        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Tipo vehículo:</label>&nbsp;@Model.tipoVehiculo

        </div>
    </div>
</div>
<div class="row my-4 px-4">
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Modelo:</label>&nbsp;@Model.modelo

        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Capacidad:</label>&nbsp;@(Model.color != null ? Model.color.ToString() : "-")
            
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Capacidad:</label>&nbsp;@(Model.capacidad != null ? Model.capacidad.ToString() : "-")
 
        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Póliza:</label>&nbsp;@(Model.poliza != null ? Model.poliza.ToString() : "-")

        </div>
    </div>
</div>
<div class="row my-4 px-4">
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Carga:</label>&nbsp;@(Model.carga.HasValue ? (Model.carga.Value ? "Si" : "No") : "-")

        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Otros:</label>&nbsp;@(Model.otros != null ? Model.otros.ToString() : "-")

        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Número económico:</label> &nbsp; @Model.numeroEconomico

        </div>
    </div>
    <div class="form-group col-md-3">
        <div class="controlForm">
            <label>Motor:</label> &nbsp; @Model.motor

        </div>
    </div>
</div>

<div class="row px-4 mb-4 align-items-end">
    <div class="col-12 col-md-6 col-lg-6">
        <div class="controlForm my-3">
            <label>Propietario: </label>&nbsp; @Model.Persona.nombreCompleto

        </div>
    </div>
</div> 




