@model List<VehiculoModel>

<div class="row justify-content-between my-2 mb-1 titleCustom">
    <div class="offset-1 col-12 mt-4 mb-2">
        <h5 class="px-4"><b>Listado de vehículos</b></h5>
        <h6 class="px-4 text-muted">Marque el vehículo de la infracción.</h6>
    </div>
</div>
<div class="col-12 rounded gridCustom">
    @(Html.Kendo().Grid(Model)
        .Name("gridInfraccionesVehiculo")
        .Columns(columns =>
        {
            columns.Bound(c => c.idPersona).Hidden();
            columns.Bound(c => c.idVehiculo).Hidden();
            columns.Select().Width(50).ClientHeaderTemplate(" ");
            columns.Bound(c => c.placas).Title("Placas").Width(90);
            columns.Bound(p => p.serie).Title("Serie").Width(90);
            columns.Bound(p => p.tarjeta).Title("Tarjeta").Width(90);
            columns.Bound(p => p.marca).Title("Marca").Width(90);
            columns.Bound(c => c.submarca).Title("Submarca").Width(90);
            columns.Bound(c => c.modelo).Title("Modelo").Width(90);
            columns.Bound(p => p.propietario).Title("Propietario").Width(90);
            columns.Bound(c => c.numeroEconomico).Title("Número Económico").Width(90);
            columns.Bound(c => c.entidadRegistro).Title("Entidad Registro").Width(90);
            columns.Bound(c => c.tipoVehiculo).Title("Tipo").Width(90);
        }).HtmlAttributes(new { style = "height:auto" })
        .Pageable(pager => pager.AlwaysVisible(true).Position(GridPagerPosition.Bottom).PageSizes(true))
        .Sortable()
        .Scrollable(scr => scr.Enabled(true))
        .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(false)
        .PageSize(5)
        )
        .ToolBar(t => t.Custom().Text("Buscar...").Name("search"))
        )

    @(Html.Kendo().Tooltip()
        .For("#gridInfraccionesVehiculo")
        .Filter("th")
        .Position(TooltipPosition.Top)
        .ContentHandler("tooltipContent")
        )
</div>

<script>
    $(document).ready(function () {
        var grid = $("#gridInfraccionesVehiculo").data("kendoGrid");
        grid.tbody.on("click", ".k-checkbox", onClickInfraccionesVehiculo);
        function onClickInfraccionesVehiculo(e) {
            var grid = $("#gridInfraccionesVehiculo").data("kendoGrid");
            var row = $(e.target).closest("tr");
            var dataItem = grid.dataItem(row);
            var idVehiculo = dataItem.idVehiculo;
            var idPersonaVehiculo = dataItem.idPersona;
            $("#idVehiculo").val(idVehiculo);
            $("#placasVehiculo").val(dataItem.placas);
            $("#NumTarjetaCirculacion").val(dataItem.tarjeta);
            $("#hdnIdPersonaTemp").val(idPersonaVehiculo);
            $("#divIsPropietarioConductor").show();
            buscarVehiculo(idVehiculo);
            var isPropietarioConductor = $("#isPropietarioConductor").parent().attr('aria-checked');
            if (isPropietarioConductor === "true") {
                buscarPersona(idPersonaVehiculo);
            }
            if (row.hasClass("k-selected")) {
                setTimeout(function (e) {
                    var grid = $("#gridInfraccionesVehiculo").data("kendoGrid");
                    grid.clearSelection();
                })
            } else {
                grid.clearSelection();
            };
        };
    })

    function tooltipContent(e) {
        var titulo = e.target.context.dataset.title;
        return titulo;
    }
</script>