<div class="col-12 rounded gridCustom">
    @(
        Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.PersonaModel>()
        .Name("gridPersonas")
        .Columns(columns =>
        {
            columns.Bound(c => c.idPersona).Hidden();
            columns.Select().ClientHeaderTemplate(" ");
            columns.Bound(c => c.nombreCompleto).Title("Nombre");
            columns.Bound(p => p.CURP).Title("CURP");
            columns.Bound(p => p.RFC).Title("RFC");
            columns.Bound(p => p.numeroLicencia).Title("No. Licencia");
            columns.Bound(p => p.tipoLicencia).Title("Tipo de Licencia");
            columns.Bound(c => c.tipoPersona).Title("Tipo persona");
            columns.Bound(p => p.idPersona).ClientTemplate(
            "<button onclick=\"btnModalEditarPersona('#= idPersona #')\" class='w-100 btn'><h6 class='m-0 colorPrimary'><i class='icon-edit me-2'></i><b>Editar</b></h6></button>"
            ).Title("Acciones").Sortable(false).Width(100);
        })
        .Pageable(pager => pager.AlwaysVisible(true).Position(GridPagerPosition.Bottom).PageSizes(true))
        .Sortable()
        .Scrollable(scr => scr.Enabled(true))
        .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(false)
        .PageSize(5)
        )
        .ToolBar(t => t.Custom().Text("Buscar...").Name("search"))
        )
</div>

<script>
    $(document).ready(function () {
        var grid = $("#gridPersonas").data("kendoGrid");
        grid.tbody.on("click", ".k-checkbox", onClickPersonas);

        function onClickPersonas(e) {
            var grid = $("#gridPersonas").data("kendoGrid");
            var row = $(e.target).closest("tr");
            var dataItem = grid.dataItem(row);
            var idPersona = dataItem.idPersona;
            if (row.hasClass("k-selected")) {
                setTimeout(function (e) {
                    var grid = $("#gridPersonas").data("kendoGrid");
                    grid.clearSelection();
                })
            } else {
                grid.clearSelection();
            };

            buscarPersona(idPersona);
            getListadoPersonasInfracciones();
            $('#agregarConductorModal').modal('hide');
        };
    })
</script>