@model List<VehiculoModel>

<div class="row mb-1 titleCustom">
    <div class="col-12 col-md-auto mt-4 mb-2">
        <h5 class="px-4"><b>Listado de vehículos</b></h5>
        <h6 class="px-4 text-muted">Edita los datos de vehículo.</h6>
    </div>
</div>
<div class="row">

    <div class="col-12 mb-4 px-4 rounded gridCustom">
        @(Html.Kendo().Grid(Model)
            .Name("Grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.idVehiculo).Hidden();
                columns.Bound(p => p.NumeroSecuencial).Title("No.").Width(40);
                columns.Bound(p => p.placas).Title("Placas").Width(90);
                columns.Bound(p => p.serie).Title("No.Serie").Width(90);
                columns.Bound(c => c.marca).Title("Marca").Width(90);
                columns.Bound(c => c.submarca).Title("SubMarca").Width(90);
                columns.Bound(c => c.tipoVehiculo).Title("Tipo Vehículo").Width(90);
                columns.Bound(c => c.propietario).Title("Propietario").Width(90);
                columns.Bound(c => c.tarjeta).Title("Tarjeta").Width(90);
                columns.Bound(c => c.vigenciaTarjeta).Title("Vigencia tarjeta").Format("{0:dd/MM/yyyy}").Width(90);
                columns.Bound(c => c.motor).Title(" No. Motor").Width(90);
                columns.Bound(c => c.modelo).Title("Modelo").Width(90);
                columns.Bound(c => c.color).Title("Color").Width(90);
                columns.Bound(c => c.entidadRegistro).Title("Entidad").Width(90);
                columns.Bound(c => c.tipoServicio).Title("Tipo Servicio").Width(90);
                columns.Bound(c => c.numeroEconomico).Title("Numero económico").Width(90);


                columns.Bound(p => p.idVehiculo).ClientTemplate(
                "<button onclick=\"ShowUpdate('#= idVehiculo #')\" class='w-100 btn'><h6 class='m-0 colorPrimary'><i class='icon-edit me-2'></i><b>Editar</b></h6></button>"
                ).Title("Acciones").Sortable(false).Width(100);

            }).HtmlAttributes(new { style = "height:350" })
            .Pageable(pager => pager.AlwaysVisible(true).PageSizes(new int[] { 5, 10, 20, 100 }))
            .Sortable()
            .Scrollable(scr => scr.Height(350))
            .DataSource(dataSource => dataSource
            .Ajax()
            .ServerOperation(false)
            )
            .ToolBar(t => t.Search())
            .Search(s =>
            {
                s.Field(c => c.placas);
                s.Field(c => c.serie);
                s.Field(c => c.marca);
                s.Field(c => c.submarca);
                s.Field(c => c.tipoVehiculo);
                s.Field(c => c.propietario);
                s.Field(c => c.tarjeta);
                s.Field(c => c.motor);
                s.Field(c => c.modelo);
                s.Field(c => c.color);
                s.Field(c => c.entidadRegistro);
                s.Field(c => c.tipoServicio);
                s.Field(c => c.numeroEconomico);


            })
            )

        @(Html.Kendo().Tooltip()
            .For("#Grid")
            .Filter("th")
            .Position(TooltipPosition.Top)
            .ContentHandler("tooltipContent")
            )
    </div>

</div>

<script>
    function ShowUpdate(Id) {
        window.location = '/Vehiculos/EditarVehiculo?id=' + Id;
    }

    function tooltipContent(e) {
        var titulo = e.target.context.dataset.title;
        return titulo;
    }



  /*   $(document).ready(function () {
            // Función para numerar las filas
            function updateRowNumbers() {
                var grid = $("#Grid").data("kendoGrid");
                var rows = grid.tbody.children();
                for (var i = 0; i < rows.length; i++) {
                    var row = $(rows[i]);
                    var rowNumber = i + 1;
                    row.find(".row-number").text(rowNumber);
                }
            }

            // Llama a la función para numerar las filas cuando el grid se carga o se actualiza
            var grid = $("#Grid").data("kendoGrid");
            grid.bind("dataBound", function () {
                updateRowNumbers();
            });

            // Llama a la función inicialmente para numerar las filas
            updateRowNumbers();
        });*/
</script>
