@model List<PersonaModel> 

<section id="secMoral">     
    <div class="row justify-content-between mb-1">
        <div class="col-12 col-lg-6 mt-4 mb-2">
            <h5 class="px-4"><b>Datos complementarios</b></h5>
            <h6 class="px-4 text-muted">Completa los datos solicitados como tipo de servicio y el propietario.</h6>
        </div>
        <div class="col-12 col-lg-auto text-center">
            <div class="btnOutline btnOutlinePrimary px-4 my-3">
                <button data-bs-toggle="modal" data-bs-target="#addFisico">
                    <h5 class="m-0"><i class="me-2 icon-addFisica"></i><b>Agregar nueva persona Moral</b></h5>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 px-4 rounded">
            <kendo-grid name="grid" height="250">
                <datasource type="DataSourceTagHelperType.Custom" custom-type="odata" page-size="1">
                    <transport>
                        <read url="https://demos.telerik.com/kendo-ui/service/Northwind.svc/Orders" />
                    </transport>

                </datasource>
                <sortable enabled="true" />

                <pageable button-count="5" refresh="true" page-sizes="new int[] { 5, 10, 20 }">
                </pageable>
                <columns>
                    <column width="75" selectable="true"
                            header-html-attributes='new Dictionary<string,object> { ["class"] = "checkbox-align" }'
                            html-attributes='new Dictionary<string,object> { ["class"] = "checkbox-align" }' />
                    <column field="OrderDate" title="Nombre" format="{0:MM/dd/yyyy}" width="250" />
                    <column field="OrderID" title="RFC" width="150" />
                    <column field="OrderID" title="CURP" width="180" />
                    <column field="ShipName" title="No. Licencia" width="180" />
                    <column field="ShipCity" title="Nacimiento" width="150" />
                    <column template="#=productNameTemplate(data)#" width="100" />
                </columns>

            </kendo-grid>

            <script type="text/javascript">
                function productNameTemplate(data) {
                    return `<button data-bs-toggle=modal data-bs-target=\#editFisico class='w-100 btn'><h6 class='m-0 colorPrimary'><i class='icon-edit me-2'></i><b>Editar</b></h6></button>`
                }</script>



        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 col-md-6 mx-md-auto">
            <div class="row justify-content-around">
                <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                    @(Html.Kendo().Button()
                        .Name("editSearchFisico")
                        .HtmlAttributes(new { @class = "px-5" })
                        .Content("<h5 class=\"m-0\"><b>Editar búsqueda</b></h5>"))

                </div>
                <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                    <div class="controlButton" onclick="finalizar()">
                        @(Html.Kendo().Button()
                            .Name("saveFisico")
                            .HtmlAttributes(new { @class = "btnPrimary px-5" })
                            .Content("<h5 class=\"m-0\"><b>Finalizar captura</b></h5>"))
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>


