@model List<Concesionarios2Model>
@{
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
    var autorizaciones = @HttpContextAccessor.HttpContext.Session.GetString("Autorizaciones").ToString();
}
@{
}

<div class="row">
    <div class="col-12 mb-4 px-4 rounded gridCustom">
        @(Html.Kendo().Grid(Model)
            .Name("GridCon")
            .Columns(columns =>
            {
                columns.Bound(c => c.nombre).Title("Nombre").Width(250);
                columns.Bound(p => p.delegacion).Title("Delegación").Width(150);
                columns.Bound(p => p.municipio).Title("Municipio").Width(150);
                columns.Bound(p => p.alias).Title("Alias").Width(200);
                columns.Bound(c => c.razonSocial).Title("Razón social").Width(250);
                columns.Bound(p => p.idConcesionario).ClientTemplate(
                "<button onclick=\"btnModalEditarConcesionario('#= idConcesionario #')\" class='w-100 btn'><h6 class='m-0 colorPrimary'><i class='icon-edit me-2'></i><b>Editar</b></h6></button>"
                ).Title("Acciones").Sortable(false).Width(100);
            }).HtmlAttributes(new { style = "height:450" })
            .Pageable(pager => pager.AlwaysVisible(true).Position(GridPagerPosition.Bottom).PageSizes(true))
            .Sortable()
            .Scrollable(scr => scr.Height(350))
            .DataSource(dataSource => dataSource
            .Ajax()
            .ServerOperation(false))
            .ToolBar(t => t.Custom().Text("Buscar...").Name("search"))
            )


        <script>

            $(document).ready(function () {
                var auth = @autorizaciones;
                var grid = $("#GridCon").data("kendoGrid");

                console.log(auth);

                 //EDITAR
                if (!auth.toString().includes("295")) {
                    grid.hideColumn(5);
                }

            });

        </script>
    </div>
</div>

                <script>
    $(document).ready(function () {
        var auth = @autorizaciones;
        var grid = $("#GridCon").data("kendoGrid");

        if (!auth.toString().includes("295")) {
            grid.hideColumn(5);

        }

    });
</script>