@model List<PensionModel>
@{

}

<div class="mainContainer bg-light">
    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <i class="icon-edit-car h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Pensiones</b></h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                <div class="row">
                    <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                        <button href="#" id="btnNuevaGrua" onclick="modalCrearPension()">
                            <h6 class="m-0 d-flex align-items-center"><i class="icon-addDependencia h5 mb-0 me-2"></i><b>Agregar nueva pensión</b></h6>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        <div class="col-12 col-md-auto mt-4 mb-2">
            <h5 class="px-4"><b>Busqueda de Pensiones</b></h5>
            <h6 class="px-4 text-muted">Realiza una búsqueda personalizada de Pensiones.</h6>
        </div>
        <div class="row row-height">
            <div class="controlForm col-md-6">
                @(Html.Kendo().TextBox()
                    .Name("pension")
                    .Label(l => l.Content("Placas:"))
                    .Placeholder("Ingresa las placas validas")
                    .HtmlAttributes(new { style = "width: 100%", id = "txtPension" }))
            </div>
            <div class="controlForm col-md-6">
                <label>Tipo Grua:</label>
                @(Html.Kendo().DropDownList()
                    .Name("ddlIdDelegacion")
                    .BindTo((SelectList)ViewBag.CatDelegaciones)
                    .OptionLabel("-- Seleccione --")
                    .HtmlAttributes(new { style = "width:100%;", id = "ddlIdDelegacion" })
                    .Filter(FilterType.Contains))
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-2">
            <div class="controlButton my-3">
                <button class="btnPrimary" type="button" onclick="btnBuscarPension()">  <h5 class="m-0"><b>Buscar</b></h5></button>

            </div>
        </div>
        @*//Aqui*@


        <div id="listadoPensiones">
            <partial name="_ListadoPensiones" model="Model" />
        </div>
    </section>
</div>


<div class="modal fade modalCustom" id="modalCrearPension" aria-labelledby="modalCrearPension" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                    <div class="col-auto pe-0">
                        <div class="row align-items-center justify-content-center justify-content-md-start">
                            <div class="col-auto pe-0">
                                <i class="icon-addDependencia h1 colorPrimary"></i>
                            </div>
                            <div class="col-auto my-3">
                                <h2 class="m-0 h3"><b>Agregar pensión</b></h2>
                            </div>
                        </div>
                    </div>
                </div>
                @*<h4 class="modal-title">Agregar grúa</h4>*@
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto my-4">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-body" id="modalBodyCrearPension">
            </div>
        </div>

    </div>
</div>

<div class="modal fade modalCustom" id="modalEditarPension" aria-labelledby="modalEditarPension" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                    <div class="col-auto pe-0">
                        <div class="row align-items-center justify-content-center justify-content-md-start">
                            <div class="col-auto pe-0">
                                <i class="icon-addDependencia h1 colorPrimary"></i>
                            </div>
                            <div class="col-auto my-3">
                                <h2 class="m-0 h3"><b>Editar pensión</b></h2>
                            </div>
                        </div>
                    </div>
                </div>
                @*<h4 class="modal-title">Agregar grúa</h4>*@
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto my-4">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-body" id="modalBodyEditarPension">
            </div>
        </div>

    </div>
</div>


<script>
    $(document).ready(function () {
        $("#modalCrearPension").on("show.bs.modal shown.bs.modal", function (e) {
            $("body").removeClass("modal-open").find(".modal-backdrop").remove();
        });
        $("#modalCrearPension").on('hide.bs.modal', function () {
            $('#modalBodyCrearPension').html('');
        });

        $("#modalEditarPension").on("show.bs.modal shown.bs.modal", function (e) {
            // Remove overlay and enable scrolling of body
            $("body").removeClass("modal-open").find(".modal-backdrop").remove();
        });
        $("#modalEditarPension").on('hide.bs.modal', function () {
            $('#modalBodyEditarPension').html('');
        });
    });
    function btnBuscarPension() {
        var pension = $("#txtPension").val();
        var idDelegacion = $("#ddlIdDelegacion")
        $.ajax({
            url: '@Url.Action("ajax_ModalCrear")',
            type: 'GET',
            data: {
                "pension": pension,
                "idDelegacion": idDelegacion,
            },
            dataType: "html",
            success: function (value) {
                $('#listadoPensiones').html(value);
            }
        });
    }


    function modalCrearPension() {
        $.ajax({
            url: '@Url.Action("ajax_ModalCrearPension")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $('#modalBodyCrearPension').html(data);
                $('#modalCrearPension').modal('show');
            }
        });
    }
</script>