@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

:root {
    --main-color: #0066FF;
    --second-color: #E4ECFA;
    --success-color: #00BB35;
    --warning-color: #E4B931;
    --danger-color: #FD493F;
}

* {
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'SITTEG';
    src: url('fonts/SITTEG.eot?nb0l6u');
    src: url('fonts/SITTEG.eot?nb0l6u#iefix') format('embedded-opentype'), url('fonts/SITTEG.ttf?nb0l6u') format('truetype'), url('fonts/SITTEG.woff?nb0l6u') format('woff'), url('fonts/SITTEG.svg?nb0l6u#SITTEG') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'SITTEG' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-opciones:before {
    content: "\e968";
}

.icon-addOpciones:before {
    content: "\e969";
}

.icon-deleteOpciones:before {
    content: "\e96a";
}

.icon-editOpciones:before {
    content: "\e96b";
}

.icon-editHospital:before {
    content: "\e96c";
}

.icon-deleteHospital:before {
    content: "\e96e";
}

.icon-hospital:before {
    content: "\e96f";
}

.icon-oficinas:before {
    content: "\e970";
}

.icon-deleteOficinas:before {
    content: "\e971";
}

.icon-addOficinas:before {
    content: "\e972";
}

.icon-editOficinas:before {
    content: "\e973";
}

.icon-causas:before {
    content: "\e974";
}

.icon-deleteCausas:before {
    content: "\e975";
}

.icon-addCausas:before {
    content: "\e976";
}

.icon-editCausas:before {
    content: "\e977";
}

.icon-factores:before {
    content: "\e978";
}

.icon-deleteFactores:before {
    content: "\e979";
}

.icon-addFactores:before {
    content: "\e97a";
}

.icon-editFactores:before {
    content: "\e97b";
}

.icon-editAdccidentes:before {
    content: "\e97c";
}

.icon-addAccidentes:before {
    content: "\e97d";
}

.icon-deleteAccidentes:before {
    content: "\e97e";
}

.icon-accidentes:before {
    content: "\e97f";
}

.icon-deleteTraslado:before {
    content: "\e960";
}

.icon-addTraslado:before {
    content: "\e961";
}

.icon-editTraslado:before {
    content: "\e962";
}

.icon-traslado:before {
    content: "\e963";
}

.icon-editEntrega:before {
    content: "\e964";
}

.icon-addEntrega:before {
    content: "\e965";
}

.icon-deleteEntrega:before {
    content: "\e966";
}

.icon-entrega:before {
    content: "\e967";
}

.icon-addMinisterio:before {
    content: "\e951";
}

.icon-addAutoridad:before {
    content: "\e952";
}

.icon-deleteAutoridad:before {
    content: "\e953";
}

.icon-autoridad:before {
    content: "\e954";
}

.icon-editAutoridad:before {
    content: "\e955";
}

.icon-addCarga:before {
    content: "\e956";
}

.icon-deleteCarga:before {
    content: "\e957";
}

.icon-editCarga:before {
    content: "\e958";
}

.icon-carga:before {
    content: "\e959";
}

.icon-editInfracion:before {
    content: "\e95a";
}

.icon-deleteInfracion:before {
    content: "\e95b";
}

.icon-addInfracion:before {
    content: "\e95c";
}

.icon-ministerio:before {
    content: "\e95d";
}

.icon-editMinisterio:before {
    content: "\e95e";
}

.icon-deleteMinisterio:before {
    content: "\e95f";
}

.icon-oficina:before {
    content: "\e94d";
}

.icon-deleteOficina:before {
    content: "\e94e";
}

.icon-addOficina:before {
    content: "\e94f";
}

.icon-editOficina:before {
    content: "\e950";
}

.icon-udi:before {
    content: "\e945";
}

.icon-date:before {
    content: "\e946";
}

.icon-editDate:before {
    content: "\e947";
}

.icon-addDate:before {
    content: "\e948";
}

.icon-deleteDate:before {
    content: "\e949";
}

.icon-editUdi:before {
    content: "\e94a";
}

.icon-addUdi:before {
    content: "\e94b";
}

.icon-deleteUdi:before {
    content: "\e94c";
}

.icon-tipoVehiculo:before {
    content: "\e93d";
}

.icon-deleteTipoVehiculo:before {
    content: "\e93e";
}

.icon-editTipoVehiculo:before {
    content: "\e93f";
}

.icon-addTipoVehiculo:before {
    content: "\e940";
}

.icon-subMarcar:before {
    content: "\e941";
}

.icon-editSubMarcar:before {
    content: "\e942";
}

.icon-addSubMarcar:before {
    content: "\e943";
}

.icon-deleteSubMarcar:before {
    content: "\e944";
}

.icon-editEntidad:before {
    content: "\e939";
}

.icon-deleteEntidad:before {
    content: "\e93a";
}

.icon-addEntidad:before {
    content: "\e93b";
}

.icon-entidad:before {
    content: "\e93c";
}

.icon-editOficial:before {
    content: "\e932";
}

.icon-deleteOficial:before {
    content: "\e933";
}

.icon-addOficial:before {
    content: "\e934";
}

.icon-deleteMunicipio:before {
    content: "\e935";
}

.icon-addMunicipio:before {
    content: "\e936";
}

.icon-editMunicipio:before {
    content: "\e937";
}

.icon-municipio:before {
    content: "\e938";
}

.icon-deposito:before {
    content: "\e929";
}

.icon-ubicacion:before {
    content: "\e92a";
}

.icon-back:before {
    content: "\e924";
}

.icon-grua:before {
    content: "\e92b";
}

.icon-inventario:before {
    content: "\e92c";
}

.icon-editTramo:before {
    content: "\e928";
}

.icon-tramo:before {
    content: "\e925";
}

.icon-addTramo:before {
    content: "\e926";
}

.icon-deleteTramo:before {
    content: "\e927";
}

.icon-addHospital:before {
    content: "\e96d";
}

.icon-garantia:before {
    content: "\e91b";
}

.icon-licencia:before {
    content: "\e91c";
}

.icon-tarjeta:before {
    content: "\e91d";
}

.icon-placa:before {
    content: "\e91e";
}

.icon-infracion:before {
    content: "\e91f";
}

.icon-less:before {
    content: "\e919";
}

.icon-plus:before {
    content: "\e91a";
}

.icon-addMarca:before {
    content: "\e915";
}

.icon-editMarca:before {
    content: "\e916";
}

.icon-deleteMarca:before {
    content: "\e917";
}

.icon-marca:before {
    content: "\e918";
}

.icon-filter:before {
    content: "\e912";
}

.icon-delegacion:before {
    content: "\e913";
}

.icon-carretera:before {
    content: "\e90e";
}

.icon-delete:before {
    content: "\e90f";
}

.icon-deleteCarretera:before {
    content: "\e910";
}

.icon-addCarretera:before {
    content: "\e911";
}

.icon-editColor:before {
    content: "\e92e";
}

.icon-deleteColor:before {
    content: "\e92f";
}

.icon-addColor:before {
    content: "\e930";
}

.icon-color:before {
    content: "\e931";
}

.icon-oficial:before {
    content: "\e92d";
}

.icon-dependencia:before {
    content: "\e920";
}

.icon-editDependencia:before {
    content: "\e921";
}

.icon-addDependencia:before {
    content: "\e922";
}

.icon-deleteDependencia:before {
    content: "\e923";
}

.icon-editCarretera:before {
    content: "\e914";
}

.icon-edit-car:before {
    content: "\e90a";
}

.icon-editMoral:before {
    content: "\e90b";
}

.icon-editFisica:before {
    content: "\e90c";
}

.icon-addCar:before {
    content: "\e909";
}

.icon-correct:before {
    content: "\e90d";
}

.icon-addFisica:before {
    content: "\e902";
}

.icon-research:before {
    content: "\e903";
}

.icon-edit:before {
    content: "\e904";
}

.icon-addMoral:before {
    content: "\e905";
}

.icon-sinPropietario:before {
    content: "\e906";
}

.icon-fisica:before {
    content: "\e907";
}

.icon-moral:before {
    content: "\e908";
}

.icon-car:before {
    content: "\e900";
}

.icon-data:before {
    content: "\e901";
}


.h7 {
    font-size: 12px
}

.navPrincipal {
    background-color: var(--second-color);
}

    .navPrincipal img {
        object-fit: contain;
        max-width: 280px;
    }

    .navPrincipal .nav-tabs .nav-link {
        padding: 1rem .2rem;
    }

        .navPrincipal .nav-tabs .nav-link.active, .navPrincipal .nav-tabs .nav-item.show .nav-link {
            background-color: var(--second-color);
            border-color: var(--second-color);
            border-radius: 0;
        }

            .navPrincipal .nav-tabs .nav-link.active i, .navPrincipal .nav-tabs .nav-item.show .nav-link i {
                color: var(--main-color);
            }

.navPrincipal-content {
    background-color: var(--main-color);
}

    .navPrincipal-content button i {
        color: var(--second-color);
    }


@media (min-width: 768px) {
    .navPrincipal {
        flex: 1;
    }

    .mainContainer {
        flex: 6;
    }
}

@media (min-width: 769px) {
    .navPrincipal {
        min-width: 220px;
        max-width: 20%;
    }

    .mainContainer {
        min-width: 70%;
        max-width: 80%;
    }
}

.colorPrimary {
    color: var(--main-color);
}

.colorWarning {
    color: var(--warning-color);
}

.colorDanger {
    color: var(--danger-color);
}

.colorSuccess {
    color: var(--success-color);
}

.bgSuccess {
    background-color: var(--success-color);
}

.bgWarning {
    background-color: var(--warning-color);
}

.bgDanger {
    background-color: var(--danger-color);
}

.numberCard {
    width: 35px;
    height: 35px;
}

.navPrincipal {
    width: 100%;
}

    .navPrincipal .k-drawer {
    }

.mainContainer {
    width: 100%
}

.minH100 {
    min-height: 100vh;
}

.opacity-50 {
    opacity: .5
}

.boxShadow {
    box-shadow: rgb(0 0 0 / 7%) 0px 2px 8px;
}

.controlForm label,
.controlForm input,
.controlForm select,
.controlForm .k-datepicker {
    width: 100%;
}

.controlForm .k-picker-wrap, .controlForm .k-picker-wrap input, .controlForm .k-datetimepicker input {
    border: none;
    height: 100%;
}

.controlForm .k-textbox, .controlForm .k-dropdown, .controlForm .k-datepicker, .controlForm .k-datetimepicker {
    border: none;
    height: 58px;
}

.controlForm label {
    font-weight: bold;
    color: #292929;
    margin: 0 0 10px 8px;
    text-align: left;
}

    .controlForm label b {
        font-weight: 400;
    }

.controlForm .k-i-calendar::before {
    font-size: 32px;
    color: #292929;
}

.controlForm .k-select {
    background-color: white;
    padding: 0 20px;
}

.controlForm input,
.controlForm .k-dropdown-wrap,
.controlForm select,
.controlForm .k-textarea {
    height: 100%;
    padding: 0 10px;
    border: none;
    background-color: white;
    box-shadow: none;
}

.controlForm input, .controlForm .k-textarea, .controlForm .k-dropdown, .controlForm .k-datepicker, .controlForm .k-dateinput, .controlForm .k-datetimepicker {
    border: 2px #292929c7 solid;
    display: block;
    border-radius: 4px;
}

    .controlForm .k-datepicker .k-select.k-state-hover, .controlForm .k-datepicker .k-select:hover, .controlForm .k-timepicker .k-select.k-state-hover, .controlForm .k-timepicker .k-select:hover, .controlForm .k-dropdown .k-dropdown-wrap.k-state-hover, .controlForm .k-dropdown .k-dropdown-wrap:hover, .controlForm .k-dropdowntree .k-dropdown-wrap.k-state-hover, .controlForm .k-dropdowntree .k-dropdown-wrap:hover, .controlForm .k-datetimepicker .k-link:hover {
        border-color: #f1f1f1;
        background-color: #f1f1f1;
    }

    .controlForm .k-textarea > .k-input {
        padding: 4px 0;
    }

.controlButton button {
    height: 58px;
    width: 100%;
}


.controlButton .btnPrimary {
    color: white;
    background-color: var(--main-color);
    border-radius: 4px;
    border: 2px solid var(--main-color);
}

.btnOutline button {
    background-color: white;
    border: 2px solid #292929;
    color: #292929;
    padding: 1rem .85rem;
    font-size: 1rem;
    border-radius: 4px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .btnOutline button:hover {
        background-color: #292929;
        color: white;
    }

.btnOutlinePrimary button {
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

    .btnOutlinePrimary button:hover {
        background-color: var(--main-color);
        color: white;
    }



.tabCustom .nav-tabs {
    border-bottom: 2px solid transparent;
}

    .tabCustom .nav-tabs .nav-link {
        max-width: 330px;
        color: #292929;
        border: 2px solid;
        border-color: transparent;
        border-radius: 0;
        margin-bottom: -2px;
        background-color: #f8f9fa;
    }

        .tabCustom .nav-tabs .nav-link.active {
            max-width: 330px;
            color: var(--main-color);
            border-bottom: 0;
            border-color: var(--main-color) var(--main-color) white;
            background-color: white;
            border-radius: 4px 4px 0 0;
            box-shadow: white 0 2px 0;
        }

.radioCustom div {
    width: 20px;
    height: 20px;
    background-color: white;
    border-color: #292929;
    border: 2px solid;
}

.tabCustom .nav-tabs .nav-link.active .radioCustom div {
    border-color: var(--main-color);
    box-shadow: inset 0px 0px 0 3px white;
    background-color: var(--main-color);
}

.tabCustomConteiner {
    border: 2px solid;
    border-bottom: 0;
    border-color: var(--main-color) var(--main-color) #f8f9fa;
    box-shadow: #f8f9fa 0px 8px;
}

.tabCustomEnd {
    border-bottom: 2px solid;
    border-bottom-color: var(--main-color);
    box-shadow: rgb(0 0 0 / 7%) 0px 2px 8px;
}

.modalCustom {
    background: #ffffffc9;
}

    .modalCustom .modal-xl {
        width: 92%;
        max-width: 1300px;
        margin: 12px auto;
    }


.btnToggle .btn {
    padding: 8px 10px;
    position: relative;
    text-align: center;
    border-radius: 0;
    transition: background 600ms ease, color 600ms ease;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
}

.btnToggle div {
    border: solid 2px #292929c7;
    border-radius: 4px;
    height: 58px;
    width: 100%;
}

input[type="radio"].toggle {
    display: none;
}

    input[type="radio"].toggle + label {
        cursor: pointer;
        min-width: 40px;
        min-height: 40px;
        margin: 0;
    }

        input[type="radio"].toggle + label:hover {
            background: none;
            color: var(--main-color);
        }

        input[type="radio"].toggle + label:after {
            background: var(--main-color);
            border-radius: 2px;
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
            transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
            width: 100%;
            z-index: -1;
        }

.btnToggle input[type="radio"].toggle.toggle-left + label {
    border-right: 0;
}

    .btnToggle input[type="radio"].toggle.toggle-left + label:after {
        left: 100%;
    }


.btnToggle input[type="radio"].toggle.toggle-right + label:after {
    left: -100%;
}

.btnToggle input[type="radio"].toggle:checked + label {
    cursor: default;
    color: #fff;
    transition: color 200ms;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
}

    .btnToggle input[type="radio"].toggle:checked + label:after {
        left: 0;
    }


.k-grid tr .checkbox-align {
    text-align: center;
    vertical-align: middle;
}

.k-grid th {
    padding: 10px 10px;
    border-width: 0 0 1px 1px;
    white-space: nowrap;
    background-color: #f2f2f6;
    font-size: 16px;
    font-weight: bold;
    color: #292929;
}

.k-grid-add-row, .k-grid-footer, .k-grid-header, .k-grouping-header {
    background-color: #f2f2f6;
}

.k-pager-wrap {
    border-color: #bacdd5;
    color: #292929;
    background-color: #f2f2f6;
}

.k-pager-numbers .k-link {
    color: #292929;
    font-weight: bold;
}

    .k-pager-numbers .k-link.k-state-selected {
        color: var(--main-color);
        background-color: transparent;
        border: solid 2px var(--main-color);
    }

.k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap {
    border-color: #bacdd5;
    color: #292929;
    background-color: white;
    background-image: linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
}

.k-grid td {
    color: #292929;
    font-weight: 400;
}

.k-checkbox.k-checked, .k-checkbox:checked {
    border-color: var(--main-color);
    color: white;
    background-color: var(--main-color);
}

.k-checkbox {
    width: 22px;
    height: 22px;
}

.k-grid td.k-state-selected, .k-grid tr.k-state-selected > td {
    background-color: rgb(65 147 191 / 25%);
}



.btnToggleCustom button {
    border: 2px #292929c7 solid;
}

    .btnToggleCustom button.active {
        border: 2px var(--main-color) solid;
        background-color: var(--main-color);
        color: white;
    }

        .btnToggleCustom button.active .radioCustom div {
            border-color: var(--main-color);
            box-shadow: inset 0px 0px 0 3px white;
            background-color: var(--main-color);
        }

.gridCustom .k-grid-toolbar {
    background-color: transparent;
}

.gridCustom .k-grid {
    max-height: 450px;
}

.gridCustom .k-grid-toolbar .k-grid-search {
    height: 58px;
    margin-left: auto;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 8px;
}


    .gridCustom .k-grid-toolbar .k-grid-search input {
        height: 100%;
    }

.titleCustom {
    position: initial;
    z-index: 1;
    width: 100%;
}



@media (min-width: 768px) {

    .titleCustom {
        position: absolute;
        z-index: 1;
        width: 400px;
    }

    .gridCustom .k-grid-toolbar .k-grid-search {
        width: 240px;
    }
}

.inputNumberCustom input {
    min-width: 50px;
    min-height: 40px;
    padding: 5px;
}

.drop-zone {
    max-width: 950px;
    height: 200px;
    padding: 10px 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}

.drop-zone--over {
    border: solid #bacdd5 1px;
    background-color: #e8ebed;
    box-shadow: #292929 0px 0px 0px 1px;
    border-radius: 4px;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

    .drop-zone__thumb::after {
        content: attr(data-label);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 5px 0;
        color: #ffffff;
        background: rgba(0, 0, 0, 0.75);
        font-size: 14px;
        text-align: center;
    }


.radioCustomTelerik .k-radio-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

    .radioCustomTelerik .k-radio-list li {
        position: relative;
    }

        .radioCustomTelerik .k-radio-list li input {
            position: absolute;
            z-index: 1;
            top: 21px;
            left: 18px;
            padding: 0px;
        }

.radioCustomTelerik .k-radio {
    width: 20px;
    height: 20px;
    background-color: white;
    border-color: #292929;
    box-shadow: #292929 0px 0px 0px 1px;
}



.radioCustomTelerik .k-radio-list li label {
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 2.6rem;
    border: 2px #292929c7 solid;
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56px;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.radioCustomTelerik .k-radio:checked + label {
    border: 2px var(--main-color) solid;
    color: white;
    background-color: var(--main-color);
}

.radioCustomTelerik input:checked {
    background-color: white;
    border-color: var(--main-color);
    box-shadow: var(--main-color) 0px 0px 0px 1px;
}

.radioCustomTelerik .k-radio.k-checked::before, .radioCustomTelerik .k-radio:checked::before {
    width: 10px;
    height: 10px;
    background-color: var(--main-color)
}
