@model GuanajuatoAdminUsuarios.Models.TiposVehiculosModel

@{
    Layout = null;
}


            <section class=" bg-white rounded">
                <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                    <div class="col-auto pe-0">
                        <div class="row align-items-center justify-content-center justify-content-md-start">
                            <div class="col-auto pe-0">
                                <i class="icon-editTipoVehiculo h1 colorPrimary"></i>
                            </div>
                            <div class="col-auto my-3">
                                <h2 class="m-0 h3"><b>Editar tipo de vehículo</b></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="row">
                            <div class="col-auto my-3">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="bg-light py-1"></div>
                    </div>

                </div>
    <form id="EditarTipoVehiculoForm" class="row px-4 mb-4 align-items-end justify-content-center">
                <div class="row align-items-end">
                    <div class="col-12 col-lg-6 my-4">
                        <h5 class="px-4"><b>Datos de tipo de vehículo</b></h5>
                        <h6 class="px-4 text-muted">Completa los datos obligatorios para guardar.</h6>
                    </div>
        <div class="col-12 col-lg-6 my-4">
            @(Html.Kendo().SwitchFor(t => t.ValorEstatusTiposVehiculo)
                .Name("tiposVehiculoSwitch")
                .Checked(true)
                .Messages(c => c.Checked("Activo").Unchecked("Inactivo"))
                .HtmlAttributes(new { data_valor = 1 })

                )
        </div>
                </div>
                    <div class="col-12 col-md-6">
                        <div class="controlForm my-3">
                            @Html.HiddenFor(m=>m.IdTipoVehiculo)
                            @(Html.Kendo().TextBoxFor(t=>t.TipoVehiculo)
                                .Label(l => l.Content("Nombre <b>(obligatorio)</b>:"))
                                .Placeholder("Ingresa el tipo de vehículo")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>

                </form>
                <div class="row my-4">
                    <div class="col-12 col-md-6 mx-md-auto">
                        <div class="row justify-content-around">
                            <div class="col-auto btnOutline my-2 mx-auto mx-xl-2 p-0">
                                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                                    <h6 class="m-0 px-3"><b>Cerrar</b></h6>
                                </button>
                            </div>
                            <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                                <div class="controlButton">
                        <button class="btnPrimary px-3" onclick="editarTipoVehiculo()">
                            <h5 class="m-0"><b>Guardar</b></h5>
                        </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </section>

<script>
    function editarTipoVehiculo() {

        var Mydata = $("#EditarTipoVehiculoForm").serialize();
        console.log(Mydata);
        $('#editTipoVehiculo').modal('hide');
        $('body').removeClass('model-open');
        $('.modal-backdrop').remove();
        $.ajax({
            url: '@Url.Action("UpdatePartialTipoModal")',
            type: 'POST',
            data: Mydata,
            success: function (result) {
                $("#tablaTiposVehiculos").html(result);
            }
        });
    }

</script>


