<div class="row">
    <div class="col-12 mb-4 px-4 rounded gridCustom">
        @(
            Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.TiposVehiculosModel>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.IdTipoVehiculo).Width(80);
                columns.Bound(c => c.TipoVehiculo).Width(100);
                columns.Bound(c => c.estatusDesc).Width(80);
                columns.Command(c => c.Custom("Editar").Click("getId")).Width(70);
                columns.Command(c => c.Custom("Eliminar").Click("eliminar")).Width(70);


            }).HtmlAttributes(new { style = "height:550px" })
            .Sortable()
            .Groupable()
            .Scrollable()
            .Pageable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetTipos", "TiposVehiculos"))
            .PageSize(5).Model(model => model.Id(p => p.IdTipoVehiculo))
            )
            .ToolBar(t => t.Search())
            .Search(s =>
            {
                s.Field(c => c.TipoVehiculo);
            })

            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single)
            .Type(GridSelectionType.Row)
            )



            )


    </div>
</div>

<script>
    function getId(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var IdTipoVehiculo = dataItem.IdTipoVehiculo;
        console.log(IdTipoVehiculo);

        $.ajax({
            url: '@Url.Action("EditarTipoVehiculo", "TiposVehiculos")', // URL de la acción del controlador
            type: 'POST', // Tipo de solicitud HTTP (POST o GET)
            data: { IdTipoVehiculo: IdTipoVehiculo }, // Datos que se enviarán al controlador
            success: function (result) {
                $('#ModalBodyUpdateTipo').html(result);
                $('#editTipoVehiculo').modal('show');

            },
        })
    }

    function eliminar(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var IdTipoVehiculo = dataItem.IdTipoVehiculo;
        console.log(IdTipoVehiculo);

        $.ajax({
            url: '@Url.Action("EliminarTipoVehiculoParcial", "TiposVehiculos")', // URL de la acción del controlador
            type: 'POST', // Tipo de solicitud HTTP (POST o GET)
            data: { IdTipoVehiculo: IdTipoVehiculo }, // Datos que se enviarán al controlador
            success: function (result) {
                $('#ModalBodyEliminarTipoVehiculo').html(result);
                $('#eliminarTipoVehiculo').modal('show');

            },
        })
    }
</script>