<div class="row">
    <div class="col-12 mb-4 px-4 rounded gridCustom">
        @(
            Html.Kendo().Grid<GuanajuatoAdminUsuarios.Models.ColoresModel>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.IdColor).Width(20);
                columns.Bound(c => c.color).Title("Color").Width(100);
                columns.Bound(c => c.estatusDesc).Title("Estatus en sistema").Width(100);
                columns.Command(c => c.Custom("Editar").Click("getId")).Width(100);
                columns.Command(c => c.Custom("Eliminar").Click("eliminar")).Width(80);

                //columns.Command(c => c.Custom("Delete").Click("redirectDelete")).Width(180);


            }).HtmlAttributes(new { style = "height:550px" })
            .Sortable()
            .Groupable()
            .Scrollable()
            .Pageable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetCols", "Colores"))
            .PageSize(5).Model(model => model.Id(p => p.IdColor))
            )
            .ToolBar(t => t.Search())
            .Search(s =>
            {
                s.Field(c => c.color);
            })

            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single)
            .Type(GridSelectionType.Row)
            )



            )


    </div>
</div>


 <script>
    function getId(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var Id = dataItem.IdColor;
        console.log(Id);

        $.ajax({
            url: '@Url.Action("EditarParcial", "Colores")', // URL de la acción del controlador
            type: 'POST', // Tipo de solicitud HTTP (POST o GET)
            data:  {Id:Id}, // Datos que se enviarán al controlador
            success: function(result) {
                $('#ModalBodyUpdate').html(result);
                $('#editColor').modal('show');
            
            },
    })
    }

    function eliminar(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var IdColor = dataItem.IdColor;
        console.log(IdColor);

        $.ajax({
            url: '@Url.Action("EliminarColorParcial", "Colores")', // URL de la acción del controlador
            type: 'POST', // Tipo de solicitud HTTP (POST o GET)
            data: { IdColor: IdColor }, // Datos que se enviarán al controlador
            success: function (result) {
                $('#ModalBodyEliminarColor').html(result);
                $('#eliminarColor').modal('show');

            },
        })
    }
 </script>