@model List<GuanajuatoAdminUsuarios.Models.ColoresModel>
@*RazorCoder*@
    <div class="mainContainer bg-light">

        

<section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
    <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
        <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
            <div class="row align-items-center justify-content-center justify-content-md-start">
                <div class="col-auto">
                    <i class="icon-color h1 colorPrimary"></i>
                </div>
                <div class="col-auto my-3">
                    <h2 class="m-0 h3"><b>Catalogo de colores</b></h2>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
            <div class="row">
                <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                    <button href="#" id="btnNuevaDep" onclick="mostrarModal()">
                        <h6 class="m-0 d-flex align-items-center">
                            <i class="icon-addColor h5 mb-0 me-2"></i><b>Agregar nueva color</b></h6>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="bg-light py-1"></div>
        </div>
    </div>
    <div class="row justify-content-between mb-1 titleCustom">
        <div class="col-12 col-md-auto mt-4 mb-2">
            <h5 class="px-4"><b>Listado de colores</b></h5>
            <h6 class="px-4 text-muted">Edita o elimina los colores.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4 px-4 rounded gridCustom">
            <div id="tablaColores">
        <partial name="_ListaColores" model="Model" />
      


<div class="modal fade modalCustom" id="addColor" tabindex="-1" aria-labelledby="addColorLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
               <div class="modal-body" id="ModalBodyCreate">

               </div>
         </div>
     </div>
</div>

 

<!-----------------------------------------------------------UPDATE--------------------------------------------------------------------------------------------->
 <div class="modal fade modalCustom" id="editColor" tabindex="-1" aria-labelledby="addColorLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
        <div class="modal-content">
             <div class="modal-body" id="ModalBodyUpdate">

             </div>
         </div>
     </div>
 </div>

<!-----------------------------------------------------------DELETE--------------------------------------------------------------------------------------------->
<div class="modal fade modalCustom" id="eliminarColor" tabindex="-1" aria-labelledby="elColorLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="ModalBodyEliminarColor">

            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>
</section>

</div>


@*<script src="~/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>*@
<script>
    function mostrarModal() {
        $.ajax({
            url: '@Url.Action("AgregarPacial")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $('#ModalBodyCreate').html(data);
                $('#addColor').modal('show');
            }
        });
    }


</script>
