@model List<Gruas2Model>

@*<div class="row justify-content-between mb-1 titleCustom">*@

<div class="row mb-2 titleCustom">
    <div class="col-12">
        <h5 class="px-4"><b>Listado de Padrón de Grúas</b></h5>
    </div>
</div>
<br />
<br />
<div class="row">

    @*<column template="<button data-bs-toggle=modal data-bs-target=\#editVehiculo class='w-100 btn'><h6 class='m-0 colorPrimary'><i class='icon-edit me-2'></i><b>Editar</b></h6></button>" width="100" />*@
    <div class="col-12 mb-4 px-4 rounded gridCustom">
        @(Html.Kendo().Grid(Model)
            .Name("Grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.idGrua).Width(20).Hidden();
                columns.Bound(p => p.municipio).Title("Municipio").Width(90);
                columns.Bound(p => p.concesionario).Title("Concesionario").Width(90);
                columns.Bound(p => p.noEconomico).Title("No. Economico").Width(90);
                columns.Bound(c => c.modelo).Title("Modelo").Width(90);
                columns.Bound(c => c.placas).Title("Placas").Width(90);
                columns.Bound(c => c.tipoGrua).Title("Tipo Grúa").Width(90);
                columns.Command(c => c.Custom("Editar").Click("editar")).Width(100);
            }).HtmlAttributes(new { style = "height:350" })
            .Pageable(pager => pager.AlwaysVisible(true).Position(GridPagerPosition.Top).PageSizes(true))
            .Sortable()
            .Scrollable(scr => scr.Height(350))
            .DataSource(dataSource => dataSource
            .Ajax()
            .ServerOperation(false)
            )
            )
    </div>
</div>
@*<div>
     @(Html.Kendo().Grid(Model)
        .Name("Grid2")
        .Columns(columns =>
        {
            columns.Bound(c => c.idGrua).Width(20).Hidden();
            columns.Bound(p => p.municipio).Title("Municipio").Width(90);
            columns.Bound(p => p.concesionario).Title("Concesionario").Width(90);
            columns.Bound(p => p.noEconomico).Title("No. Economico").Width(90);
            columns.Bound(c => c.modelo).Title("Modelo").Width(90);
            columns.Bound(c => c.placas).Title("Placas").Width(90);
            columns.Bound(c => c.tipoGrua).Title("Tipo Grúa").Width(90);
            columns.Command(c => c.Custom("Editar").Click("editar")).Width(100);
        }).HtmlAttributes(new { style = "height:350" })
        .Pageable(pager => pager.AlwaysVisible(true).Position(GridPagerPosition.Top).PageSizes(true))
        .Sortable()
        .Scrollable(scr => scr.Height(350))
        .DataSource(dataSource => dataSource
            .Ajax()
        .Group(groups => groups.Add(p => p.tipoGrua))))
</div>*@

<div class="modal fade modalCustom" id="editGrua" aria-labelledby="editGruaLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                    <div class="col-auto pe-0">
                        <div class="row align-items-center justify-content-center justify-content-md-start">
                            <div class="col-auto pe-0">
                                <i class="icon-addDependencia h1 colorPrimary"></i>
                            </div>
                            <div class="col-auto my-3">
                                <h2 class="m-0 h3"><b>Editar grúa</b></h2>
                            </div>
                        </div>
                    </div>
                </div>
                @*<h4 class="modal-title">Agregar grúa</h4>*@
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto my-4">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-body" id="ModalBodyEdit">
            </div>
        </div>

    </div>
</div>
<script>
    //$(document).ready(function () {
    //    var grid = $("#Grid").data("kendoGrid");

    //    var position = "top";
    //    grid.setOptions({
    //        pageable: {
    //            position: position
    //        }
    //    });
    //});
    $(document).ready(function () {
        $("#editGrua").on("show.bs.modal shown.bs.modal", function (e) {
            // Remove overlay and enable scrolling of body
            $("body").removeClass("modal-open").find(".modal-backdrop").remove();
        });
        $("#editGrua").on('hide.bs.modal', function () {
            $('#ModalBodyEdit').html('');
        });
    });
    function editar(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        console.log(dataItem);

        var idGrua = dataItem.idGrua;
        console.log(idGrua);

        $.ajax({
            url: '@Url.Action("ajax_edit")', // URL de la acción del controlador
            type: 'POST', // Tipo de solicitud HTTP (POST o GET)
            data: { idGrua: idGrua }, // Datos que se enviarán al controlador
            success: function (result) {
                $('#ModalBodyEdit').html(result);
                $('#editGrua').modal('show');

            },
        })
    }
</script>