@model List<GuanajuatoAdminUsuarios.Models.CatEntidadesModel>
@{
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
    var listaIdsPermitidosJson = @HttpContextAccessor.HttpContext.Session.GetString("IdsPermitidos").ToString();
    var autorizaciones = @HttpContextAccessor.HttpContext.Session.GetString("Autorizaciones").ToString();
}

<script>
    $(document).ready(function () {
        var access = @listaIdsPermitidosJson;
        if (access != undefined && access != '') {
            if (!access.toString().includes(localStorage.getItem("menuId"))) {
                Swal.fire({
                    icon: "error",
                    title: "¡EL usuario no tiene acceso a esta opción!"
                });
                setTimeout(() => {
                    window.location.href = "/Principal";
                }, 200);
            }
        } else {
            Swal.fire({
                icon: "error",
                title: "¡EL usuario no tiene acceso a esta opción!"
            });
            setTimeout(() => {
                window.location.href = "/Principal";
            }, 200);
        }
    });

</script>
<div class="mainContainer bg-light">

    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <i class="icon-entidad h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                        <h2 class="m-0 h3"><b>Catálogo de entidades</b></h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                <div class="row">
                    <div class="col-auto btnOutline btnOutlinePrimary my-2 mx-auto mx-xl-2 p-0">
                        <button onclick="mostrarModalAgregar()">
                            <h6 class="m-0 d-flex align-items-center"><i class="icon-addEntidad h5 mb-0 me-2"></i><b>Agregar nueva entidad</b></h6>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="bg-light py-1"></div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 mb-4 px-4 rounded gridCustom">
                <div class="row justify-content-between mb-1 titleCustom">
                    <div class="col-12 col-md-auto mt-4 mb-2">
                        <h5 class="px-4"><b>Listado de entidades</b></h5>
                        <h6 class="px-4 text-muted">Edita o elimina las entidades.</h6>
                    </div>
                </div>
                <div id="tablaEntidades">

                    <partial name="_ListaEntidades" model="Model" />
                </div>
            </div>
        </div>
  

<div class="modal fade modalCustom" id="agregarEntidad"  aria-labelledby="agregarEntidadLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg boxShadow modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body" id="ModalBodyEntidad">

            </div>
        </div>
    </div>
</div>



<!-----------------------------------------------------------UPDATE--------------------------------------------------------------------------------------------->
 <div class="modal fade modalCustom" id="editarEntidad"  aria-labelledby="editarEntidadLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg boxShadow modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body" id="ModalBodEditarEntidad">

            </div>
        </div>
    </div>
</div>
   
</section>
</div>

<script>
    function mostrarModalAgregar() {
        $.ajax({
            url: '@Url.Action("MostrarModalAgregarEntidad")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (data) {
                $('#ModalBodyEntidad').html(data);
                $('#agregarEntidad').modal('show');
            }
        });
    }


</script>