
<div class="mainContainer bg-light">



    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="">
                <div class="">
                    
                    <center>
                        <p>Elige una opción del menú.</p>
                        <br />
                        <br />
                        <br />
                    </center>
                    @if (ViewData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @ViewData["ErrorMessage"]
                        </div>
                    }
                </div>
            </div>
        </div>
       

        <div class="row px-4 px-md-4 pt-3 pb-2">
            <div class="">
                
          
                    <center>
                        <img width="50%" src="~/img/logo-gto.png" style="opacity: 0.1;" />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    </center>
            </div>
        </div>
        
    </section>

</div>



