@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Guanajuato Administracion de Usuarios</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link href="https://cdn.kendostatic.com/2021.3.914/styles/kendo.classic-opal.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link href="~/css/plugins/toastr.min.css" rel="stylesheet" />
    <script src="https://cdn.kendostatic.com/2021.3.914/js/jquery.min.js"></script>
    <script src="https://cdn.kendostatic.com/2021.3.914/js/jszip.min.js"></script>
    <script src="https://cdn.kendostatic.com/2021.3.914/js/kendo.all.min.js"></script>
    <script src="https://cdn.kendostatic.com/2021.3.914/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <globalization culture="es-MX" uiCulture="es" />
    <script>kendo.culture("es-ES");</script>


        <script>

            function closeForm() {
                //console.log("hola ", document.getElementById("placas").value);

                if (document.getElementById("usuario").value == "admin" && document.getElementById("pass").value == "Admin123") {
                    document.getElementById("errorAlerta").style.display = "none";
                    window.location.href = "/Principal";
                } else {
                    document.getElementById("errorAlerta").style.display = "block";
                }


            }
        </script>
</head>
<body class="bg-light">
    <main class="container-fluid">

<div class="bg-light">

    <section class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow my-5 rounded">
        <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
            <div class="col-12 col-md-6 col-lg-5 col-xl-auto">
                <div class="row align-items-center justify-content-center justify-content-md-start">
                    <div class="col-auto">
                        <i class="icon-dependencia h1 colorPrimary"></i>
                    </div>
                    <div class="col-auto my-3">
                                <h2 class="m-0 h3"><b> Registro Estatal de Infracciones y Accidentes - Bienvenido</b></h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-7 col-xl-auto">
                <div class="row">
                    <div class="card-img">
                        <img src="~/img/logo-gto.png" width="50%" height="50%" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

    </section>

            <section id="sec0" class="mx-md-3 mx-lg-4 mx-xl-5 bg-white boxShadow mt-3 mb-5 rounded">
                <div class="row align-items-center justify-content-between px-4 px-md-4 pt-3 pb-2">
                    <div class="col-12 col-md-auto pe-0">
                        <div class="row align-items-center justify-content-center justify-content-md-start">
                            
                            <div class="col-auto my-3">
                                <h2 class="m-0 h3"><b>Iniciar sesión</b></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pe-0">
                        <div class="bgSuccess py-1"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 my-4">
                        <h6 class="px-4 text-muted">Introduce tus credenciales de acceso.</h6>
                        <br />
                        <h6 id="errorAlerta" class="px-4" style="display:none; color: red">Credenciales inválidas.</h6>
                    </div>


                </div>
                <div class="row px-4 mb-4 align-items-end">
                    <!--todo select -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBox()
                                .Name("usuario")
                                .Label(l => l.Content("Usuario:"))
                                .Placeholder("Usuario")
                                .HtmlAttributes(new { style = "width: 100%" })
                                )

                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="controlForm my-3">
                            @(Html.Kendo().TextBox()
                                .Name("pass")
                                .Label(l => l.Content("Contraseña"))
                                .Placeholder("*****")
                                .HtmlAttributes(new { type = "password", style = "width: 100%" })
                                )

                        </div>
                    </div>

                    <div class="col-12 col-md-6 mx-md-auto col-lg-4 mx-lg-0 ">
                        <div class="controlButton my-3" onclick="closeForm()">
                            @(Html.Kendo().Button()
                                .Name("Iniciar")
                                .HtmlAttributes(new { @class = "btnPrimary" })
                                .Content("<h5 class=\"m-0\"><b>Iniciar</b></h5>")
                                )
                        </div>
                    </div>





                </div>
            </section>




</div>
    
</main>
</body>
</html>

